/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */
/**
 * Imports
 */
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
/**
 * WooCommerce CSS Variables
 */
/**
 * Astra Theme compatibility with WooCommerce
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
/**
 * Styling begins
 */
.woocommerce, .woocommerce-page {
  /**
	 * General layout styles
	 */
  /**
	 * Product page
	 */
  /**
	 * Product loops
	 */
  /**
	 * Cart page
	 */
  /**
	 * Cart sidebar
	 */
  /**
	 * Forms
	 */
  /**
	 * oEmbeds
	 */
}

.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button, .woocommerce-page .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button {
  float: left;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
  *zoom: 1;
  width: 100%;
}

.woocommerce .col2-set::before, .woocommerce .col2-set::after, .woocommerce-page .col2-set::before, .woocommerce-page .col2-set::after {
  content: ' ';
  display: table;
}

.woocommerce .col2-set::after, .woocommerce-page .col2-set::after {
  clear: both;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
  float: right;
  width: 48%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  float: left;
  width: 48%;
}

.woocommerce img, .woocommerce-page img {
  height: auto;
  max-width: 100%;
}

.woocommerce div.product div.images,
.woocommerce #content div.product div.images, .woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
  float: right;
  width: 48%;
}

.woocommerce div.product div.thumbnails,
.woocommerce #content div.product div.thumbnails, .woocommerce-page div.product div.thumbnails,
.woocommerce-page #content div.product div.thumbnails {
  *zoom: 1;
}

.woocommerce div.product div.thumbnails::before, .woocommerce div.product div.thumbnails::after,
.woocommerce #content div.product div.thumbnails::before,
.woocommerce #content div.product div.thumbnails::after, .woocommerce-page div.product div.thumbnails::before, .woocommerce-page div.product div.thumbnails::after,
.woocommerce-page #content div.product div.thumbnails::before,
.woocommerce-page #content div.product div.thumbnails::after {
  content: ' ';
  display: table;
}

.woocommerce div.product div.thumbnails::after,
.woocommerce #content div.product div.thumbnails::after, .woocommerce-page div.product div.thumbnails::after,
.woocommerce-page #content div.product div.thumbnails::after {
  clear: both;
}

.woocommerce div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  float: right;
  width: 30.75%;
  margin-left: 3.8%;
  margin-bottom: 1em;
}

.woocommerce div.product div.thumbnails a.last,
.woocommerce #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last,
.woocommerce-page #content div.product div.thumbnails a.last {
  margin-left: 0;
}

.woocommerce div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first {
  clear: both;
}

.woocommerce div.product div.thumbnails.columns-1 a,
.woocommerce #content div.product div.thumbnails.columns-1 a, .woocommerce-page div.product div.thumbnails.columns-1 a,
.woocommerce-page #content div.product div.thumbnails.columns-1 a {
  width: 100%;
  margin-left: 0;
  float: none;
}

.woocommerce div.product div.thumbnails.columns-2 a,
.woocommerce #content div.product div.thumbnails.columns-2 a, .woocommerce-page div.product div.thumbnails.columns-2 a,
.woocommerce-page #content div.product div.thumbnails.columns-2 a {
  width: 48%;
}

.woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a {
  width: 22.05%;
}

.woocommerce div.product div.thumbnails.columns-5 a,
.woocommerce #content div.product div.thumbnails.columns-5 a, .woocommerce-page div.product div.thumbnails.columns-5 a,
.woocommerce-page #content div.product div.thumbnails.columns-5 a {
  width: 16.9%;
}

.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
  float: left;
  width: 48%;
  clear: none;
}

.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {
  clear: both;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  *zoom: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before, .woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after, .woocommerce-page div.product .woocommerce-tabs ul.tabs::before, .woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after {
  content: ' ';
  display: table;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after, .woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after {
  clear: both;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  display: inline-block;
}

.woocommerce div.product #reviews .comment,
.woocommerce #content div.product #reviews .comment, .woocommerce-page div.product #reviews .comment,
.woocommerce-page #content div.product #reviews .comment {
  *zoom: 1;
}

.woocommerce div.product #reviews .comment::before, .woocommerce div.product #reviews .comment::after,
.woocommerce #content div.product #reviews .comment::before,
.woocommerce #content div.product #reviews .comment::after, .woocommerce-page div.product #reviews .comment::before, .woocommerce-page div.product #reviews .comment::after,
.woocommerce-page #content div.product #reviews .comment::before,
.woocommerce-page #content div.product #reviews .comment::after {
  content: ' ';
  display: table;
}

.woocommerce div.product #reviews .comment::after,
.woocommerce #content div.product #reviews .comment::after, .woocommerce-page div.product #reviews .comment::after,
.woocommerce-page #content div.product #reviews .comment::after {
  clear: both;
}

.woocommerce div.product #reviews .comment img,
.woocommerce #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img,
.woocommerce-page #content div.product #reviews .comment img {
  float: left;
  height: auto;
}

.woocommerce ul.products, .woocommerce-page ul.products {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  *zoom: 1;
}

.woocommerce ul.products::before, .woocommerce ul.products::after, .woocommerce-page ul.products::before, .woocommerce-page ul.products::after {
  content: ' ';
  display: table;
}

.woocommerce ul.products::after, .woocommerce-page ul.products::after {
  clear: both;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  float: right;
  margin: 0 0 2.992em 20px;
  padding: 0;
  position: relative;
  width: 22.05%;
  margin-right: 0;
}

.woocommerce ul.products.columns-1 li.product, .woocommerce-page ul.products.columns-1 li.product {
  width: 100%;
  margin-left: 0;
}

.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
  width: 48%;
}

.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
  width: 30.75%;
}

.woocommerce ul.products.columns-5 li.product, .woocommerce-page ul.products.columns-5 li.product {
  width: 16.95%;
}

.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product {
  width: 13.5%;
}

.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product {
  width: 100%;
  margin-left: 0;
}

.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product {
  width: 48.4%;
  width: calc(50% - 10px);
}

.woocommerce.columns-2 ul.products li.product:nth-child(2n), .woocommerce-page.columns-2 ul.products li.product:nth-child(2n) {
  margin-left: 0;
  clear: left;
}

.woocommerce.columns-2 ul.products li.product:nth-child(2n+1), .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1) {
  clear: right;
}

.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product {
  width: 31.2%;
  width: calc( 33.33% - 14px);
}

.woocommerce.columns-3 ul.products li.product:nth-child(3n), .woocommerce-page.columns-3 ul.products li.product:nth-child(3n) {
  margin-left: 0;
  clear: left;
}

.woocommerce.columns-3 ul.products li.product:nth-child(3n+1), .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1) {
  clear: right;
}

.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product {
  width: 22.5%;
  width: calc( 25% - 15px);
}

.woocommerce.columns-4 ul.products li.product:nth-child(4n), .woocommerce-page.columns-4 ul.products li.product:nth-child(4n) {
  margin-left: 0;
  clear: left;
}

.woocommerce.columns-4 ul.products li.product:nth-child(4n+1), .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1) {
  clear: right;
}

.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product {
  width: 17.5%;
  width: calc( 20% - 16px);
}

.woocommerce.columns-5 ul.products li.product:nth-child(5n), .woocommerce-page.columns-5 ul.products li.product:nth-child(5n) {
  margin-left: 0;
  clear: left;
}

.woocommerce.columns-5 ul.products li.product:nth-child(5n+1), .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1) {
  clear: right;
}

.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product {
  width: 14%;
  width: calc( 16.66% - 16.66px);
}

.woocommerce.columns-6 ul.products li.product:nth-child(6n), .woocommerce-page.columns-6 ul.products li.product:nth-child(6n) {
  margin-left: 0;
  clear: left;
}

.woocommerce.columns-6 ul.products li.product:nth-child(6n+1), .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1) {
  clear: right;
}

@media (max-width: 768px) and (min-width: 545px) {
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product, .woocommerce[class*='columns-'].columns-4 > ul.products li.product, .woocommerce[class*='columns-'].columns-5 > ul.products li.product, .woocommerce[class*='columns-'].columns-6 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product {
    width: 30.2%;
    width: calc(33.33% - 14px);
    margin-left: 20px;
  }
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product:nth-child(3n), .woocommerce[class*='columns-'].columns-4 > ul.products li.product:nth-child(3n), .woocommerce[class*='columns-'].columns-5 > ul.products li.product:nth-child(3n), .woocommerce[class*='columns-'].columns-6 > ul.products li.product:nth-child(3n), .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product:nth-child(3n), .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product:nth-child(3n), .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product:nth-child(3n), .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product:nth-child(3n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product:nth-child(3n+1), .woocommerce[class*='columns-'].columns-4 > ul.products li.product:nth-child(3n+1), .woocommerce[class*='columns-'].columns-5 > ul.products li.product:nth-child(3n+1), .woocommerce[class*='columns-'].columns-6 > ul.products li.product:nth-child(3n+1), .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product:nth-child(3n+1), .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product:nth-child(3n+1), .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product:nth-child(3n+1), .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product:nth-child(3n+1) {
    clear: right;
  }
  .woocommerce[class*='columns-'] ul.products li.product:nth-child(n), .woocommerce-page[class*='columns-'] ul.products li.product:nth-child(n) {
    margin-left: 20px;
    clear: none;
  }
  .woocommerce.tablet-columns-1 ul.products li.product, .woocommerce-page.tablet-columns-1 ul.products li.product {
    width: 100%;
  }
  .woocommerce.tablet-columns-2 ul.products li.product, .woocommerce-page.tablet-columns-2 ul.products li.product {
    width: 47.6%;
    width: calc(50% - 10px);
  }
  .woocommerce.tablet-columns-2 ul.products li.product:nth-child(2n), .woocommerce-page.tablet-columns-2 ul.products li.product:nth-child(2n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.tablet-columns-2 ul.products li.product:nth-child(2n+1), .woocommerce-page.tablet-columns-2 ul.products li.product:nth-child(2n+1) {
    clear: right;
  }
  .woocommerce.tablet-columns-3 ul.products li.product, .woocommerce-page.tablet-columns-3 ul.products li.product {
    width: 30.2%;
    width: calc(33.33% - 14px);
  }
  .woocommerce.tablet-columns-3 ul.products li.product:nth-child(3n), .woocommerce-page.tablet-columns-3 ul.products li.product:nth-child(3n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.tablet-columns-3 ul.products li.product:nth-child(3n+1), .woocommerce-page.tablet-columns-3 ul.products li.product:nth-child(3n+1) {
    clear: right;
  }
  .woocommerce.tablet-columns-4 ul.products li.product, .woocommerce-page.tablet-columns-4 ul.products li.product {
    width: 21.5%;
    width: calc(25% - 15px);
  }
  .woocommerce.tablet-columns-4 ul.products li.product:nth-child(4n), .woocommerce-page.tablet-columns-4 ul.products li.product:nth-child(4n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.tablet-columns-4 ul.products li.product:nth-child(4n+1), .woocommerce-page.tablet-columns-4 ul.products li.product:nth-child(4n+1) {
    clear: right;
  }
  .woocommerce.tablet-columns-5 ul.products li.product, .woocommerce-page.tablet-columns-5 ul.products li.product {
    width: 16.2%;
    width: calc(20% - 16px);
  }
  .woocommerce.tablet-columns-5 ul.products li.product:nth-child(5n), .woocommerce-page.tablet-columns-5 ul.products li.product:nth-child(5n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.tablet-columns-5 ul.products li.product:nth-child(5n+1), .woocommerce-page.tablet-columns-5 ul.products li.product:nth-child(5n+1) {
    clear: right;
  }
  .woocommerce.tablet-columns-6 ul.products li.product, .woocommerce-page.tablet-columns-6 ul.products li.product {
    width: 12.7%;
    width: calc(16.66% - 16.66px);
  }
  .woocommerce.tablet-columns-6 ul.products li.product:nth-child(6n), .woocommerce-page.tablet-columns-6 ul.products li.product:nth-child(6n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.tablet-columns-6 ul.products li.product:nth-child(6n+1), .woocommerce-page.tablet-columns-6 ul.products li.product:nth-child(6n+1) {
    clear: right;
  }
}

@media (max-width: 544px) {
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product, .woocommerce[class*='columns-'].columns-4 > ul.products li.product, .woocommerce[class*='columns-'].columns-5 > ul.products li.product, .woocommerce[class*='columns-'].columns-6 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product, .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product {
    width: 46.1%;
    width: calc(50% - 10px);
    margin-left: 20px;
  }
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product:nth-child(2n), .woocommerce[class*='columns-'].columns-4 > ul.products li.product:nth-child(2n), .woocommerce[class*='columns-'].columns-5 > ul.products li.product:nth-child(2n), .woocommerce[class*='columns-'].columns-6 > ul.products li.product:nth-child(2n), .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product:nth-child(2n), .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product:nth-child(2n), .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product:nth-child(2n), .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product:nth-child(2n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce[class*='columns-'].columns-3 > ul.products li.product:nth-child(2n+1), .woocommerce[class*='columns-'].columns-4 > ul.products li.product:nth-child(2n+1), .woocommerce[class*='columns-'].columns-5 > ul.products li.product:nth-child(2n+1), .woocommerce[class*='columns-'].columns-6 > ul.products li.product:nth-child(2n+1), .woocommerce-page[class*='columns-'].columns-3 > ul.products li.product:nth-child(2n+1), .woocommerce-page[class*='columns-'].columns-4 > ul.products li.product:nth-child(2n+1), .woocommerce-page[class*='columns-'].columns-5 > ul.products li.product:nth-child(2n+1), .woocommerce-page[class*='columns-'].columns-6 > ul.products li.product:nth-child(2n+1) {
    clear: right;
  }
  .woocommerce[class*='columns-'] ul.products li.product:nth-child(n), .woocommerce-page[class*='columns-'] ul.products li.product:nth-child(n) {
    margin-left: 20px;
    clear: none;
  }
  .woocommerce.mobile-columns-1 ul.products li.product, .woocommerce-page.mobile-columns-1 ul.products li.product {
    width: 100%;
  }
  .woocommerce.mobile-columns-1 ul.products li.product:nth-child(n), .woocommerce-page.mobile-columns-1 ul.products li.product:nth-child(n) {
    margin-left: 0;
  }
  .woocommerce.mobile-columns-2 ul.products li.product, .woocommerce-page.mobile-columns-2 ul.products li.product {
    width: 46.1%;
    width: calc(50% - 10px);
  }
  .woocommerce.mobile-columns-2 ul.products li.product:nth-child(2n), .woocommerce-page.mobile-columns-2 ul.products li.product:nth-child(2n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.mobile-columns-2 ul.products li.product:nth-child(2n+1), .woocommerce-page.mobile-columns-2 ul.products li.product:nth-child(2n+1) {
    clear: right;
  }
  .woocommerce.mobile-columns-3 ul.products li.product, .woocommerce-page.mobile-columns-3 ul.products li.product {
    width: 28.2%;
    width: calc(33.33% - 14px);
  }
  .woocommerce.mobile-columns-3 ul.products li.product:nth-child(3n), .woocommerce-page.mobile-columns-3 ul.products li.product:nth-child(3n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.mobile-columns-3 ul.products li.product:nth-child(3n+1), .woocommerce-page.mobile-columns-3 ul.products li.product:nth-child(3n+1) {
    clear: right;
  }
  .woocommerce.mobile-columns-4 ul.products li.product, .woocommerce-page.mobile-columns-4 ul.products li.product {
    width: 19%;
    width: calc(25% - 15px);
  }
  .woocommerce.mobile-columns-4 ul.products li.product:nth-child(4n), .woocommerce-page.mobile-columns-4 ul.products li.product:nth-child(4n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.mobile-columns-4 ul.products li.product:nth-child(4n+1), .woocommerce-page.mobile-columns-4 ul.products li.product:nth-child(4n+1) {
    clear: right;
  }
  .woocommerce.mobile-columns-5 ul.products li.product, .woocommerce-page.mobile-columns-5 ul.products li.product {
    width: 13%;
    width: calc(20% - 16px);
  }
  .woocommerce.mobile-columns-5 ul.products li.product:nth-child(5n), .woocommerce-page.mobile-columns-5 ul.products li.product:nth-child(5n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.mobile-columns-5 ul.products li.product:nth-child(5n+1), .woocommerce-page.mobile-columns-5 ul.products li.product:nth-child(5n+1) {
    clear: right;
  }
  .woocommerce.mobile-columns-6 ul.products li.product, .woocommerce-page.mobile-columns-6 ul.products li.product {
    width: 10.2%;
    width: calc(16.66% - 16.66px);
  }
  .woocommerce.mobile-columns-6 ul.products li.product:nth-child(6n), .woocommerce-page.mobile-columns-6 ul.products li.product:nth-child(6n) {
    margin-left: 0;
    clear: left;
  }
  .woocommerce.mobile-columns-6 ul.products li.product:nth-child(6n+1), .woocommerce-page.mobile-columns-6 ul.products li.product:nth-child(6n+1) {
    clear: right;
  }
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
  float: right;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: left;
}

.woocommerce .woocommerce-pagination ul.page-numbers, .woocommerce-page .woocommerce-pagination ul.page-numbers {
  *zoom: 1;
}

.woocommerce .woocommerce-pagination ul.page-numbers::before, .woocommerce .woocommerce-pagination ul.page-numbers::after, .woocommerce-page .woocommerce-pagination ul.page-numbers::before, .woocommerce-page .woocommerce-pagination ul.page-numbers::after {
  content: ' ';
  display: table;
}

.woocommerce .woocommerce-pagination ul.page-numbers::after, .woocommerce-page .woocommerce-pagination ul.page-numbers::after {
  clear: both;
}

.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
  display: inline-block;
}

.woocommerce table.cart img,
.woocommerce #content table.cart img, .woocommerce-page table.cart img,
.woocommerce-page #content table.cart img {
  height: auto;
}

.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  text-align: left;
}

.woocommerce table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 80px;
}

.woocommerce table.cart td.actions .button,
.woocommerce #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button {
  line-height: 1;
  border-width: 1px;
  border-style: solid;
}

@media (max-width: 544px) {
  .woocommerce table.cart td.actions .button,
  .woocommerce #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button,
  .woocommerce-page #content table.cart td.actions .button {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {
  float: right;
}

.woocommerce table.cart td.actions .coupon label,
.woocommerce #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label {
  display: none;
}

@media (min-width: 545px) {
  .woocommerce table.cart td.actions > input[type="submit"],
  .woocommerce #content table.cart td.actions > input[type="submit"], .woocommerce-page table.cart td.actions > input[type="submit"],
  .woocommerce-page #content table.cart td.actions > input[type="submit"] {
    margin: 5px auto;
  }
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
  *zoom: 1;
  width: 100%;
}

.woocommerce .cart-collaterals::before, .woocommerce .cart-collaterals::after, .woocommerce-page .cart-collaterals::before, .woocommerce-page .cart-collaterals::after {
  content: ' ';
  display: table;
}

.woocommerce .cart-collaterals::after, .woocommerce-page .cart-collaterals::after {
  clear: both;
}

.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related {
  width: 30.75%;
  float: right;
}

.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
  width: 48%;
  float: right;
}

.woocommerce .cart-collaterals .cross-sells ul.products, .woocommerce-page .cart-collaterals .cross-sells ul.products {
  float: none;
}

.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
  width: 48%;
}

.woocommerce .cart-collaterals .cross-sells ul.products li.first, .woocommerce-page .cart-collaterals .cross-sells ul.products li.first {
  clear: both;
}

.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last {
  margin-left: 0;
}

.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
  width: 48%;
  *zoom: 1;
  clear: left;
  float: left;
}

.woocommerce .cart-collaterals .shipping_calculator::before, .woocommerce .cart-collaterals .shipping_calculator::after, .woocommerce-page .cart-collaterals .shipping_calculator::before, .woocommerce-page .cart-collaterals .shipping_calculator::after {
  content: ' ';
  display: table;
}

.woocommerce .cart-collaterals .shipping_calculator::after, .woocommerce-page .cart-collaterals .shipping_calculator::after {
  clear: both;
}

.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  float: left;
  width: 48%;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {
  *zoom: 1;
}

.woocommerce ul.cart_list li::before, .woocommerce ul.cart_list li::after,
.woocommerce ul.product_list_widget li::before,
.woocommerce ul.product_list_widget li::after, .woocommerce-page ul.cart_list li::before, .woocommerce-page ul.cart_list li::after,
.woocommerce-page ul.product_list_widget li::before,
.woocommerce-page ul.product_list_widget li::after {
  content: ' ';
  display: table;
}

.woocommerce ul.cart_list li::after,
.woocommerce ul.product_list_widget li::after, .woocommerce-page ul.cart_list li::after,
.woocommerce-page ul.product_list_widget li::after {
  clear: both;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
  float: left;
  height: auto;
}

.woocommerce form .form-row, .woocommerce-page form .form-row {
  *zoom: 1;
}

.woocommerce form .form-row::before, .woocommerce form .form-row::after, .woocommerce-page form .form-row::before, .woocommerce-page form .form-row::after {
  content: ' ';
  display: table;
}

.woocommerce form .form-row::after, .woocommerce-page form .form-row::after {
  clear: both;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
  display: block;
}

.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
  display: inline;
}

.woocommerce form .form-row select, .woocommerce-page form .form-row select {
  width: 100%;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
  box-sizing: border-box;
  width: 100%;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last, .woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 47%;
  overflow: visible;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
  float: right;
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
  float: left;
}

.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
  clear: both;
}

.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
  width: auto;
}

.woocommerce #payment .wc-terms-and-conditions, .woocommerce #payment .terms, .woocommerce-page #payment .wc-terms-and-conditions, .woocommerce-page #payment .terms {
  text-align: right;
  padding: 0;
  width: 100%;
  margin-bottom: 1em;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: left;
}

.woocommerce .woocommerce-billing-fields,
.woocommerce .woocommerce-shipping-fields, .woocommerce-page .woocommerce-billing-fields,
.woocommerce-page .woocommerce-shipping-fields {
  *zoom: 1;
}

.woocommerce .woocommerce-billing-fields::before, .woocommerce .woocommerce-billing-fields::after,
.woocommerce .woocommerce-shipping-fields::before,
.woocommerce .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-billing-fields::before, .woocommerce-page .woocommerce-billing-fields::after,
.woocommerce-page .woocommerce-shipping-fields::before,
.woocommerce-page .woocommerce-shipping-fields::after {
  content: ' ';
  display: table;
}

.woocommerce .woocommerce-billing-fields::after,
.woocommerce .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-billing-fields::after,
.woocommerce-page .woocommerce-shipping-fields::after {
  clear: both;
}

.woocommerce .woocommerce-terms-and-conditions, .woocommerce-page .woocommerce-terms-and-conditions {
  margin-bottom: 1.618em;
  padding: 1.618em;
}

.woocommerce .woocommerce-oembed, .woocommerce-page .woocommerce-oembed {
  position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: right;
  width: 30%;
}

.woocommerce-account .woocommerce-MyAccount-content {
  float: left;
  width: 68%;
}

.woocommerce-account .woocommerce-MyAccount-content fieldset {
  border: 0;
  margin: 1em 0 0;
  padding: 3px;
}

.woocommerce-account .woocommerce-MyAccount-content fieldset legend {
  padding: 3px 0;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin: 10px 0;
}

.woocommerce-account .woocommerce-MyAccount-content fieldset .form-row {
  padding-right: 0;
  padding-left: 0;
}
