.ast-responsive-btns,
.customize-control-title {
	display:inline-block;
}

.ast-responsive-btns {
	float:right;
	line-height: 1;
	margin-top: 5px;

	> li {
		margin-bottom: 0;
		display: none;

		&.active {
			display: inline-block;
		}
	}

	button[type="button"] {
		padding: 0;
		cursor: pointer;
		background: none;
		border: none;
		opacity: .75;
		outline: none;

		> i {
			width: 15px;
			height: 15px;
			font-size: 15px;
		}
	}
}

.customize-control-ast-responsive .input-wrapper {
	input {
		display: none;
		width: calc(100% - 52px);
		float: left;

		&.active {
			display: inline-block;
		}
	}

	.ast-responsive-select {
		width: 50px;
		margin: 0;
		display: none;
		padding: .1em;
		margin-left: 2px;
	}

	.ast-responsive-input.active {
		+ .ast-responsive-select {
			display: inline-block;
		}
	}

	.ast-non-reponsive{
		&.ast-responsive-input,
		&.ast-responsive-input.active {
			display: inline-block;
		}
		&.ast-responsive-select {
			display: inline-block;
		}
	}
}