.customize-control-ast-spacing {
	ul.ast-spacing-wrapper {
		position: relative;
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}	
	li.ast-spacing-input-item {
		display: inline-block;
		text-align: center;
		-webkit-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
	}
	span.ast-spacing-unit {
		position: absolute;
		top: -26px;
		right: 0;
		font-size: 12px;
		font-weight: bold;
	}
	span.ast-spacing-title {
		display: block;
	}
	input.ast-spacing-input {
		text-align: center;
	}
}