/* 
    Created on : 24-Sep-2015, 11:46:32 PM
    Author     : bilal
*/

a,a:visited,a:hover, a:focus,a:visited:hover{
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4D5051;
}

body.admin-bar{
    margin-top: -32px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.noshow{
    display: none; 
}

.row{
    max-width: 1200px;
    margin: 0 auto;
}

.hidden{
    display: none;
}

.entry-title{
    
    font-size: 32px;
}

#main.ecotheme-page{
    margin-top: 50px;
    padding-top: 30px;
}

#main.ecotheme-blog{
    margin-top: 85px;
    padding-top: 30px;
}

#main.ecotheme-page .entry-content .entry-title{
    margin-top: 0;
}

#main.ecotheme-page #ecotheme-page-jumbotron{
    margin-top: -85px;
}


.delay1{
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.delay2{
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay3{
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-long{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;    
}

.parallax{
    position: relative;
}
/*-- 1. Header --*/

.ecotheme-branding{
    float: left
}
.ecotheme-header-menu{
    float: right;
}

#ecotheme-logo{
    line-height: 85px;
}

#ecotheme-logo img{
    max-height: 75px;
    padding: 10px 0;
}

#ecotheme-header.frontpage.sticky .header-inner #ecotheme-logo{
    line-height: 50px;
}

#ecotheme-header.frontpage.sticky .header-inner #ecotheme-logo img{
    max-height: 40px;
}



#ecotheme-header{
    
}

#ecotheme-header-sticky-wrapper{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
}

#ecotheme-header.frontpage.sticky .header-inner{
    height: 50px;
    background: #1b1b1b;
}

#ecotheme-header.sticky .header-inner .site-title{
    font-size: 28px;
    line-height: 50px;
    margin: 0;
}

#ecotheme-header.sticky .site-description{
    display: none;
}



#ecotheme-header.frontpage{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}


#ecotheme-header .header-inner{
    background: #1b1b1b;
    height: 85px;
}

#ecotheme-header.frontpage .header-inner{
    background: rgba(27,27,27,0.3);
    height: 85px;
}


#masthead.site-header{
    z-index: 1;
    position: relative;
    
}

.site-title{
    margin: 0;
    font-size: 45px;
}

.site-description{
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    padding-top: 0;
}

.site-title a,
.site-description{
    color: #fff;
}

.site-branding{
    padding: 0px 10px;
}

#ecotheme-search,
#ecotheme-contact{
    background: #111111;
    background: rgba( 50, 50, 50, 0.9 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

#ecotheme-search .search-field{
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 22px;
}

#ecotheme-search .search-form{
    display: inline-block;
}

#ecotheme-search .fa.fa-close,
#ecotheme-contact .fa.fa-close{
    color: #fff;
    cursor: pointer;
    font-weight: 100;
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    
}

#ecotheme-search input[type="search"]{
    
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    color: rgba( 255,255,255,0.9);
}

.main-navigation .ecotheme-cart,
.ecotheme-mobile-cart .ecotheme-cart{
    padding: 5px 10px;
    border-radius: 10px;
    background: #e1e1e1;
    color: #fff !important;
    position: relative;
    top: -5px;
}
.ecotheme-mobile-cart .ecotheme-cart{
    position: initial;
}

/*-- 2. Navigation --*/

#ecotheme-add-menu{
    text-align: center;
    padding: 30px 0;
}

.sticky #ecotheme-add-menu{
    text-align: center;
    padding: 15px 0;
}

#ecotheme-add-menu a{
    color: #fff;
}

.ecotheme-mobile-cart{
    display: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#ecotheme-header .slicknav_menu{
    float: right;
    background: #1B1B1B;
    display: none;
}

ul.ecotheme-nav ul {
    box-shadow: none;
    text-align: left;
    float: left;
    position: absolute;
    top: 21px;
    left: -999em;
    z-index: 99999;
    background: transparent;
    padding: 44px 0 15px 10px;

}

.sticky ul.ecotheme-nav ul{
    padding: 9px 0 15px 10px;
    top: 21px;
        
}

ul.ecotheme-nav ul ul {
    float: none;
    left: 0 !important;
    position: relative;
    padding: 0 0 0 15px;;
    margin-top: 5px;
}

ul.ecotheme-nav ul ul li{
    padding: 0px;
    background: transparent;
}

ul.ecotheme-nav ul li{
    background: rgb(32, 32, 32);
    padding: 5px 15px 5px 15px;
    width: 100%;
    
}
ul.ecotheme-nav ul li:hover ul{
    left: 0;
}

ul.ecotheme-nav ul li a:hover{
    border-bottom: none !important;
}

ul.ecotheme-nav ul li:last-child{
    /*padding-bottom: 20px;*/
}

ul.ecotheme-nav ul li a{
    font-size: 12px;
}

ul.ecotheme-nav{
    padding: 20px 10px;
    float: right;
}
ul.ecotheme-nav a{
    
    font-size: 14px;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    
}

ul.ecotheme-nav > li.menu-item{
    margin-right: 25px;
}

ul.ecotheme-nav > li.menu-item a{
    margin-right: 0;
    font-weight: 600;
    padding-bottom: 7px;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    letter-spacing: 2px;
    
}

ul.ecotheme-nav > li.menu-item.current-menu-item a,
ul.ecotheme-nav > li.menu-item.current-menu-parent a,
ul.ecotheme-nav > li.menu-item a:hover{
    
    border-bottom: 2px solid #e1e1e1;

}

ul.ecotheme-nav > li.menu-item.current-menu-parent ul a{
    border-bottom: none !important;
}

ul.ecotheme-nav > li.menu-item.current-menu-item ul li a{
    border-bottom: none;
}


ul.ecotheme-nav > li.menu-item.menu-item-has-children > a:after{
    font-family: FontAwesome;
    content: "\f078";
    margin-left: 8px;
    margin-right: 10px;
    font-weight: 100;
    font-size: 12px;
}


/*-- 3. Homepage --*/
#ecotheme-jumbotron{
    overflow: hidden;
    height: 100%;
}

#ecotheme-jumbotron .hero{
    position: relative;
    /*top: 0;*/
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#ecotheme-jumbotron .ecotheme-button{
    margin-bottom: 10px;
}

#ecotheme-jumbotron .overlay{
    position: absolute;
    top: 0;
    width: 100%;
}


#ecotheme-jumbotron .hero img{
    width: 100%;
}

#ecotheme-jumbotron h2.header-text{
    font-size: 46px;
    color: #fff;
}

#ecotheme-jumbotron .slider-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 100%;
    background: transparent;
}

#ecotheme-jumbotron .slider-bottom .scroll-down{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    animation-delay: 1.5s;
    position: relative;
    top: 20px;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

#ecotheme-jumbotron .slider-bottom .scroll-down:hover{
    
    font-size: 34px;    
}

#ecotheme-featured{
    width: 100%;
    min-height: 320px;
    background: #e1e1e1;
    color: #000;
    
    text-align: center;
    overflow: hidden;
    z-index: 0;
    position: relative;
}


#ecotheme-video{
    
    width: 100%;
    position: relative;
    
}

/*#ecotheme-featured:after{
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 14px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}*/

#ecotheme-featured .featured-box{
    padding: 50px 30px;
    min-height: 320px;
    cursor: pointer;
}

#ecotheme-featured .featured-box2{
    background: rgba(50,50,50, 0.1);
}

#ecotheme-featured .ecotheme-icon{
    color: #333;
    font-size: 38px;
    margin: 5px 0 25px 0;
    position: relative;
    
}

#ecotheme-featured .ecotheme-title{
    margin: 0 0 20px 0;
    font-size: 26px;
    
}

#ecotheme-featured .ecotheme-desc{
    margin: 0 0 20px 0;
    font-size: 16px;
    position: relative;
}



.homepage-page-content .entry-title{
    display: none;
}

#ecotheme-overlay-trigger .overlay-widget{
    color: #fff;
    display: none;
}


#ecotheme-overlay-trigger{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #007bff transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    cursor: pointer;
    z-index: 1;
}

#ecotheme-overlay-trigger:hover{
    opacity: 1.0;
}


#ecotheme-overlay-trigger.open{
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: rgba( 0,0,0,0.3);
    border: none;
    z-index: 0;
}

#ecotheme-overlay-trigger span.fa{
    position: absolute;
    right: 6px;
    top: 28px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}

/*-- 4. Buttons --*/
.ecotheme-button,
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #C8C8C8;
    background: rgba( 200, 200, 200, 0.9 );
    margin-right: 10px !important;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.ecotheme-button.large{
    padding: 15px 25px;
    font-size: 20px;
}

.ecotheme-button:hover{
    color: #fff;
    background: #505050;
}

.ecotheme-button.default{
    color: #fff;
    background: #C8C8C8;
    background: rgba( 200, 200, 200, 0.9 );    
}

.ecotheme-button.default:hover{
    background: #505050;
    color: #fff;
}

/*-- 5. Footer --*/
.ecotheme-footer{
    
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    background-size: cover;
    color: #fff;
    color: rgba(255,255,255,0.9);
    overflow: hidden;
    /*padding: 40px 0 0 0;*/
}

.ecotheme-footer > div{
    overflow: hidden;
    background: rgba(0,0,0, 0.85);  
    padding: 55px 0 30px 0px;
}

.ecotheme-footer ul li{
    /*border-bottom: 2px solid #000;*/
    padding-bottom: 20px !important;
}

.site-info{
    background: #1B1B1B;
    color: #e1e1e1;
    padding: 40px;
    text-align: center;
    position: relative;
}

.site-info a,
.site-info a:visited{
    color: rgba(255,255,255,0.9);
}
.ecotheme-footer-nav{
    margin-top: 10px;
}

.ecotheme-footer-nav li{
    display: inline-block;
}

.ecotheme-footer-nav li a{
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

.ecotheme-footer-nav li:after{
    content: ' / ';
    color: #fff;
}

.ecotheme-footer-nav li:last-child:after{
    content: '';
}

#authica-social{
    margin: 10px 0 20px 0;
}

#authica-social a{
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.scroll-top{
    padding: 20px;
    color: #fff;
    color: rgba( 255,255,255,0.9);
    font-size: 14px;
    font-weight: 100;
    background: #000;
    background: rgb(10,10,10);
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    cursor: pointer;
    border-radius: 2px;
}

.scroll-top:hover{
    background: #e1e1e1;
}

.ecotheme-copyright{
    font-size: 12px;
    padding: 10px 0;
}

#footer-menu li ul{
    display: none;
}

.site-info a.rel{
    display: block !important;
}

/*-- 6. Sidebar --*/

#ecotheme-sidebar{
    margin-top: 30px;
    overflow: hidden;
}

#ecotheme-sidebar .widget-title{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

#ecotheme-sidebar ul li{
    margin-bottom: 10px;
}

#ecotheme-sidebar aside{
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}

/*-- 7. Page --*/
#ecotheme-page-jumbotron{
    width: 100%;
    background-size: cover;
    height: 400px;
    overflow: hidden;
}

#ecotheme-page-jumbotron .entry-title{
    margin-top: 150px;
    text-align: center;
    color: #fff;
    font-size: 46px;
}

/*-- 8. Blog --*/

#main.ecotheme-blog .wp-post-image,
.homepage-page-content .post .wp-post-image{
    width: 100%;
}

.homepage-page-content .post .entry-title{
    display: block;
}

#main.ecotheme-blog .entry-title{
    margin: 8px 0;
}

#main.ecotheme-blog .entry-meta .meta-detail{
    text-align: left;
}

#main.ecotheme-blog .entry-meta .meta-detail > span{
    margin-right: 12px;
}

.ecotheme-blog-post{
    width: 46%;
    margin-right: 1%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #BFBFBF;
    -moz-box-shadow: 1px 1px 3px #BFBFBF;
    -webkit-box-shadow: 1px 1px 3px #BFBFBF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ecotheme-blog-post .post-panel-content{
    padding: 0 15px 15px 15px;
}

.ecotheme-blog-page{
    margin-top: 40px;
}

.continue-reading{
    margin-top: 15px;
}

/*------------- Pagination --------------*/
.ecotheme-pagination{
    text-align: center;
    margin-top: 15px;
}
.ecotheme-pagination span,
.ecotheme-pagination a{
    margin-right: 4px;
}

.post-navigation .nav-next,
.post-navigation .nav-previous{
    display: none;
}
/* ------- calendar widget --------------*/
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }


/*----------------- ecotheme Recent Articles --------------*/
#ecotheme_recent_posts > div {
    margin-bottom: 30px;

}
#ecotheme_recent_posts img{
    width: 100%;
}
#ecotheme_recent_posts img:hover{

}
#ecotheme_recent_posts .ecotheme-single-post{
    overflow: hidden;

}
#ecotheme_recent_posts .ecotheme-single-post > div a{

}
#ecotheme_recent_posts .ecotheme-single-post > div{
    position: relative;


    overflow: hidden;
}
#ecotheme_recent_posts .title{
    font-weight: 700;
}
#ecotheme_recent_posts .ecotheme-single-post > div:hover img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);   
}
#ecotheme_recent_posts .ecotheme-single-post > div img{
        transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
}
#ecotheme_recent_posts .ecotheme-single-post > div img:hover{

}
#ecotheme_recent_posts .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%; 
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
#ecotheme_recent_posts .overlay:hover{
    background: rgba(0,0,0,0);
}
#ecotheme_recent_posts .overlay .fa-external-link{
    opacity: 0;

    text-align: center;
    font-size: 26px;
    transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
}
#ecotheme_recent_posts .overlay:hover .fa-external-link{
    opacity: 1.0;
    transform: scale( 1.5 );
    -webkit-transform: scale( 1.5 );
    -moz-transform: scale( 1.5 );
}

#ecotheme-homepage-widget{
    /*background: #F2F2F2;*/
    /*padding: 20px 0;*/
    overflow: hidden;
}

#ecotheme-homepage-widget > div{
    overflow: hidden;
    background: rgba(10,10,10, 0.75);
    padding: 55px 0 40px 0px;
    color: #fff;
    color: rgba(255,255,255,0.9);
}

@media( min-width: 320px ) and ( max-width: 400px ) {
    
    
    
    
}


@media( min-width: 401px ) and ( max-width: 600px ) {
    
    
    
}

@media( min-width : 601px ) and ( max-width: 980px ) {
    
    
    
}

@media( max-width: 991px ) {
    
    #ecotheme-header .slicknav_menu{
        display: block;
    }
    
    #ecotheme-header .header-inner,
    #ecotheme-header.frontpage .header-inner{
        background: #1b1b1b;
        height: 50px;
    }

    #ecotheme-header.frontpage .header-inner #ecotheme-logo{
        
        line-height: 50px;
        
    }
    
    #ecotheme-header.frontpage .header-inner #ecotheme-logo img{
        
        max-height: 40px;
        
    }
    
    #ecotheme-header .header-inner .site-title{
        font-size: 28px;
        line-height: 50px;
        margin: 0;
    }
    
    .site-description{
        display: none;
    }
    
    #mobile-nav{
        display: block;
    }
    
    #site-navigation{
        display: none;
    }
    
    .site-branding{
        float: left;
    }
    
    .ecotheme-mobile-cart{
        display: inline-block;
        float: right;
    }
    
    div.ecotheme-blog-content article h2.entry-title {
        font-size: 20px;
    }
    
    #ecotheme-logo img {
        max-height: 50px;
    }

    #ecotheme-logo {
        line-height: 50px;
    }
    
}

@media( min-width: 992px ) {
    
    
    
    
}

/* ----- WooCommerce Updates ----- */
ul.products mark.count {
    display: none;
}

header#title_bread_wrap .entry-title {
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 40px;
}

.woocommerce ul.products li.product .product-content {
    background: #f8f8f8;
    padding: 15px 15px;
/*    border-top: 3px solid #fff;*/
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.woocommerce ul.products li.product .price {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0;
}

.woocommerce ul.products li.product .star-rating {
    margin: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.woocommerce .woocommerce-breadcrumb {
    margin-bottom: 30px;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input[type="submit"] {
    padding: 10px;
    color: #fff !important;
    margin-right: 10px !important;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #e3e3e3;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    opacity: .5;
}

.woocommerce ul.product_list_widget li .star-rating {
    display: none;
}

.woocommerce ul.product_list_widget li .amount {
    display: inline-block !important;
}

.woocommerce ul.product_list_widget li del span {
    text-decoration: line-through;
}

.woocommerce ul.product_list_widget li ins {
    background: none;
}

.woocommerce .onsale {
    width: 45px;
    height: 45px;
    line-height: 45px !important;
    padding: 0 !important;
    text-align: center;
    margin: -10px -10px 0 0 !important;
}

.woocommerce div.product .product_title {
    margin-bottom: 5px;
}

.woocommerce .quantity .qty {
    min-height: 34px;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
    color: #666;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0 !important;
}

.woocommerce div.product p.price {
    font-size: 28px;
    margin-top: 10px;
}