/**
 * LearnDash Compatibility
 */
/**
 * Astra Theme compatibility with LearnDash
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
.ast-page-builder-template .sfwd-courses .entry-header,
.ast-page-builder-template .sfwd-lessons .entry-header,
.ast-page-builder-template .sfwd-topic .entry-header,
.ast-page-builder-template .sfwd-quiz .entry-header,
.ast-page-builder-template .sfwd-certificates .entry-header,
.ast-page-builder-template.single .sfwd-courses .entry-header,
.ast-page-builder-template.single .sfwd-lessons .entry-header,
.ast-page-builder-template.single .sfwd-topic .entry-header,
.ast-page-builder-template.single .sfwd-quiz .entry-header,
.ast-page-builder-template.single .sfwd-certificates .entry-header {
  margin-bottom: 0;
}

.single .sfwd-courses .entry-header,
.single .sfwd-lessons .entry-header,
.single .sfwd-topic .entry-header,
.single .sfwd-quiz .entry-header,
.single .sfwd-certificates .entry-header {
  margin-bottom: .5em;
}

.single .sfwd-courses .entry-header .ast-single-post-order + .post-thumb img,
.single .sfwd-lessons .entry-header .ast-single-post-order + .post-thumb img,
.single .sfwd-topic .entry-header .ast-single-post-order + .post-thumb img,
.single .sfwd-quiz .entry-header .ast-single-post-order + .post-thumb img,
.single .sfwd-certificates .entry-header .ast-single-post-order + .post-thumb img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.single .sfwd-lessons .learndash_content .ast-oembed-container {
  margin-bottom: 1.6em;
}

.ld-course-list-content .ld-entry-content {
  margin-bottom: 1.5em;
}

.ld-course-list-content .ld-entry-content img {
  margin: 0 auto 1.5em;
}

.learndash .completed:before,
.learndash .notcompleted:before,
#learndash_profile .completed:before,
#learndash_profile .notcompleted:before {
  content: "\e903";
  display: inline-block;
  font-family: 'Astra';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1;
}

.learndash .completed:before,
#learndash_profile .completed:before {
  content: "\e901";
  font-weight: bold;
}

.learndash .completed:before,
.learndash .notcompleted:before {
  position: absolute;
  top: 8px;
  left: .75em;
  width: 1.75em;
  text-align: center;
  line-height: 1.2;
}

.learndash .topic-completed span,
.learndash .topic-notcompleted span {
  background: none;
  padding: 0;
}

.learndash .topic-completed span:before,
.learndash .topic-notcompleted span:before {
  content: "\e903";
  display: inline-block;
  font-family: 'Astra';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
}

.learndash .topic-completed span:before {
  content: "\e901";
  font-weight: bold;
}

.learndash .learndash_join_button {
  margin-bottom: 1em;
}

.learndash.user_has_no_access .btn-join {
  margin-bottom: .5em;
  display: inline-block;
}

#learndash_course_certificate .btn-blue {
  display: inline-block;
}

.widget_ldcoursenavigation .learndash_topic_widget_list .topic-completed span:before,
.widget_ldcoursenavigation .learndash_topic_widget_list .topic-notcompleted span:before {
  margin-right: 1px;
  margin-left: 9px;
}

.wpProQuiz_modal_window #wpProQuiz_overlay_close {
  padding: 5px 15px;
}

.wpProQuiz_modal_window .wp-list-table th {
  font-weight: normal;
  padding: 5px 10px;
}

.wpProQuiz_modal_window .wp-list-table th p {
  margin-bottom: 0;
}

.wpProQuiz_modal_window #wpProQuiz_user_content h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: 600;
}

#learndash_next_prev_link {
  margin: 0;
  padding: 2em 0 0;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
  line-height: 0;
}

#learndash_next_prev_link a {
  margin: 2px;
  display: inline-block;
  padding: 0 1.5em;
  height: 2.33333em;
  line-height: 2.33333em;
  text-align: center;
  font-size: 16px;
  font-size: 1.06666rem;
}

@media (max-width: 544px) {
  #learndash_next_prev_link a {
    width: 100%;
  }
  #learndash_next_prev_link a.prev-link {
    margin-bottom: 1em;
  }
}

#learndash_next_prev_link a.next-link {
  float: left;
}

body .learndash .completed,
body .learndash .notcompleted,
body #learndash_profile .completed,
body #learndash_profile .notcompleted {
  line-height: 1.7;
  background: none;
}

body #ld_topic_categorydropdown,
body #ld_lesson_categorydropdown,
body #ld_course_categorydropdown {
  margin-bottom: 1em;
}

body #ld_topic_categorydropdown label,
body #ld_lesson_categorydropdown label,
body #ld_course_categorydropdown label {
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

body .learndash-pager span a {
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.25;
  text-align: center;
  display: inline-block;
}

body .learndash-pager span .pagedisplay {
  text-transform: capitalize;
  line-height: 2.2;
}

body .learndash .topic-completed span,
body .learndash .topic-notcompleted span {
  background: none;
  padding: 0;
}

body #ld_course_list .ld_course_grid .caption {
  padding: 15px;
  position: relative;
}

body #ld_course_list .ld_course_grid .caption *:last-child {
  margin-bottom: 0;
}

body #ld_course_list .ld_course_grid .caption .entry-title {
  margin-bottom: 5px;
}

body dd.course_progress {
  width: 100%;
}

body .learndash_navigation_lesson_topics_list .topic-notcompleted span,
body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span,
body .learndash_topic_dots .topic-notcompleted span,
body .learndash_topic_dots ul .topic-notcompleted span {
  margin: 5px 0;
}

body .learndash_navigation_lesson_topics_list .topic-completed span,
body .learndash_navigation_lesson_topics_list .topic-notcompleted span,
body .learndash_navigation_lesson_topics_list ul .topic-completed span,
body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span,
body .learndash_topic_dots .topic-completed span,
body .learndash_topic_dots .topic-notcompleted span,
body .learndash_topic_dots ul .topic-completed span,
body .learndash_topic_dots ul .topic-notcompleted span {
  padding-right: 0;
  background: none;
  margin: 5px 0;
}

body .learndash_navigation_lesson_topics_list .topic-completed span:before,
body .learndash_navigation_lesson_topics_list .topic-notcompleted span:before,
body .learndash_navigation_lesson_topics_list ul .topic-completed span:before,
body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span:before,
body .learndash_topic_dots .topic-completed span:before,
body .learndash_topic_dots .topic-notcompleted span:before,
body .learndash_topic_dots ul .topic-completed span:before,
body .learndash_topic_dots ul .topic-notcompleted span:before {
  content: "\e903";
  display: inline-block;
  font-family: 'Astra';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  font-weight: normal;
  margin-left: 10px;
}

body .learndash_navigation_lesson_topics_list .topic-completed span:before,
body .learndash_navigation_lesson_topics_list ul .topic-completed span:before,
body .learndash_topic_dots .topic-completed span:before,
body .learndash_topic_dots ul .topic-completed span:before {
  content: "\e901";
  font-weight: bold;
}

body .widget_course_return,
body .course_navigation .widget_course_return a,
body #learndash_lessons,
body #learndash_quizzes,
body .expand_collapse,
body .notavailable_message,
body #learndash_lesson_topics_list div > strong,
body #learndash_lesson_topics_list div ul > li .sn,
body .learndash_profile_heading,
body #learndash_profile a,
body #learndash_profile div,
body #learndash_lessons a,
body #learndash_quizzes a,
body .expand_collapse a,
body .learndash_topic_dots a,
body .learndash_topic_dots a > span,
body #learndash_lesson_topics_list span a {
  font-size: 1em;
  font-weight: inherit;
}

body #course_list > div h4 > a {
  padding: 5px .75em;
}

body .user_has_no_access #course_list .list-count,
body .user_has_no_access #lessons_list .list-count,
body .user_has_no_access #quiz_list .list-count {
  color: gray;
}

body #course_list .list-count,
body #lessons_list .list-count,
body #quiz_list .list-count {
  border-left: none;
  pointer-events: none;
  min-width: 2.5em;
}

body #course_list > div,
body #lessons_list > div,
body #quiz_list > div {
  border: none;
}

body #course_list > div:nth-of-type(odd),
body #lessons_list > div:nth-of-type(odd),
body #quiz_list > div:nth-of-type(odd) {
  background: #fbfbfb;
}

body #course_list > div h4 > a,
body #lessons_list > div h4 > a,
body #quiz_list > div h4 > a {
  padding: 8px 2.5em;
  margin-right: -2.5em;
  margin-right: -webkit-calc( -2.5em - 1px);
  margin-right: calc( -2.5em - 1px);
  position: relative;
}

body #lessons_list > div h4,
body #course_list > div h4,
body #quiz_list > div h4,
body #learndash_lesson_topics_list ul > li > span.topic_item {
  font-size: 1em;
}

body #learndash_lessons #lesson_heading,
body #learndash_profile .learndash_profile_heading,
body #learndash_quizzes #quiz_heading,
body #learndash_lesson_topics_list div > strong {
  padding: 10px .75em;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
}

body #learndash_lessons .right,
body #learndash_quizzes .right {
  width: auto;
}

body .expand_collapse .expand_collapse,
body #learndash_profile .expand_collapse {
  top: -1em;
}

body .expand_collapse .expand_collapse a,
body #learndash_profile .expand_collapse a {
  font-size: .8em;
}

body .expand_collapse .list_arrow.collapse, body .expand_collapse .list_arrow.expand,
body #learndash_profile .list_arrow.collapse,
body #learndash_profile .list_arrow.expand {
  vertical-align: top;
}

body .expand_collapse .list_arrow.collapse:before, body .expand_collapse .list_arrow.expand:before,
body #learndash_profile .list_arrow.collapse:before,
body #learndash_profile .list_arrow.expand:before {
  content: "\e900";
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
  font-weight: bold;
}

body .expand_collapse .list_arrow.expand:before,
body #learndash_profile .list_arrow.expand:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

body .list_arrow.collapse, body .list_arrow.collapse.lesson_incomplete, body .list_arrow.collapse.lesson_completed, body .list_arrow.expand, body .list_arrow.expand.lesson_incomplete, body .list_arrow.expand.lesson_completed {
  background: none;
  padding: 10px;
  line-height: 1.5;
}

body .list_arrow.lesson_completed:before {
  content: "\e901";
  font-weight: bold;
}

body .list_arrow.lesson_incomplete:before {
  color: rgba(0, 0, 0, 0.5);
  content: "\e903";
  font-weight: normal;
}

body .list_arrow:before {
  display: inline-block;
  font-family: 'Astra';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  font-weight: normal;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}

body .course_navigation .learndash_navigation_lesson_topics_list .list_lessons {
  margin-bottom: 5px;
}

body .course_navigation .learndash_navigation_lesson_topics_list .lesson {
  margin: 0 5px 0 0;
}

body .course_navigation .learndash_navigation_lesson_topics_list .list_arrow {
  background: none;
  line-height: inherit;
}

body .widget_sfwd-lessons-widget ul {
  padding: 0;
}

body .widget_sfwd-lessons-widget ul li a {
  font-size: 1rem;
  line-height: 1.75;
}

body #learndash_profile {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body #learndash_profile .quiz_date,
body #learndash_profile .quiz_title {
  vertical-align: middle;
}

body #learndash_profile .learndash_profile_quiz_heading .quiz_title {
  padding-right: 10px;
}

body #learndash_profile .quiz_date {
  padding-left: 10px;
}

body #learndash_profile .failed_icon,
body #learndash_profile .passed_icon {
  margin-right: 10px;
  margin-left: 5px;
}

body #learndash_profile .course_overview_heading,
body #learndash_profile .no_radius {
  -webkit-border-radius: 0;
  border-radius: 0;
}

body #learndash_profile .profile_info,
body #learndash_profile #course_list {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e2e2;
  border-top: none;
  overflow: hidden;
}

body #learndash_profile .profile_info .flip > div:nth-child(2),
body #learndash_profile #course_list .flip > div:nth-child(2) {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

body #learndash_profile .profile_info .flip > div .course_progress,
body #learndash_profile #course_list .flip > div .course_progress {
  margin: 0 auto;
  width: auto;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

body #learndash_profile .profile_info .flip > div .right,
body #learndash_profile #course_list .flip > div .right {
  padding: 0 .75em;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body #learndash_profile .profile_info .certificate_icon_large,
body #learndash_profile #course_list .certificate_icon_large {
  background: none;
  height: auto;
  line-height: 1;
}

body #learndash_profile .profile_info .certificate_icon_large:before,
body #learndash_profile #course_list .certificate_icon_large:before {
  content: "\e902";
  font-family: 'Astra';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  line-height: .9;
}

body #learndash_profile .profile_info {
  margin-bottom: 1em;
  position: relative;
}

@media (min-width: 545px) {
  body #learndash_profile .profile_edit_profile {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

body #learndash_profile .course_progress,
body #learndash_profile .learndash-course-link {
  margin-right: auto;
  margin-left: auto;
}

body #learndash_profile .learndash_profile_heading.course_overview_heading {
  padding-right: 0;
  background: none;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: capitalize;
}

body #learndash_profile .learndash_profile_heading .ld_profile_certificate {
  margin: auto;
  padding-left: 10px;
}

body #learndash_profile .learndash_profile_heading .ld_profile_status {
  text-align: left;
  width: auto;
  padding-right: 10px;
}

body #learndash_profile .learndash-course-certificate,
body #learndash_profile .learndash-course-link,
body #learndash_profile .learndash-course-status {
  margin: 0 auto;
}

body #learndash_profile .learndash-course-certificate a,
body #learndash_profile .learndash-course-link a,
body #learndash_profile .learndash-course-status a {
  line-height: inherit;
  padding: 10px 0;
}

body #learndash_profile .learndash-course-link {
  width: -webkit-calc( 100% - 170px - .75em);
  width: calc( 100% - 170px - .75em);
}

body #learndash_profile .learndash-course-certificate {
  padding: 0 .75em;
  width: 115px;
}

body #learndash_profile .learndash-course-status {
  padding: 0 .75em;
  width: 55px;
  width: -webkit-calc( 55px + .75em);
  width: calc( 55px + .75em);
}

body #learndash_profile .learndash-course-status a:before {
  text-align: center;
  min-width: 40px;
}

body #learndash_profile .learndash_profile_details > div {
  margin-top: 0;
}

body #learndash_profile .profile_edit_profile a {
  font-size: .8em;
  line-height: 1.75;
}

body #learndash_profile .list_arrow {
  border-left: none;
  min-width: 2.5em;
  cursor: pointer;
}

body #learndash_course_content .learndash_topic_dots ul > li, body #learndash_course_content .learndash_topic_dots ul > li:hover, body #learndash_course_content .learndash_topic_dots ul > li.nth-of-type-odd {
  background: transparent;
}

body #learndash_course_content .learndash_topic_dots ul > li a {
  padding: 0 0 0 .75em;
}

body #learndash_course_content_title {
  margin-bottom: 10px;
  font-weight: 600;
}

body #learndash_lessons,
body #learndash_quizzes {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body #learndash_lessons h4 > a:hover,
body #learndash_quizzes h4 > a:hover {
  background: none;
}

body #learndash_lessons #quiz_list,
body #learndash_lessons .lessons_list,
body #learndash_quizzes #quiz_list,
body #learndash_quizzes .lessons_list {
  border: 1px solid #e2e2e2;
  border-top: none;
  overflow: hidden;
}

body #learndash_lesson_topics_list ul > li > span.topic_item:hover {
  background: none;
}

body #learndash_lesson_topics_list .learndash_topic_dots {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body #learndash_lesson_topics_list .learndash_topic_dots ul {
  border: 1px solid #e2e2e2;
  border-top: none;
  overflow: hidden;
}

body #learndash_lesson_topics_list .learndash_topic_dots ul > li:last-child a {
  border-bottom: none;
}

body #learndash_lesson_topics_list .learndash_topic_dots ul > li.nth-of-type-odd {
  background: #fbfbfb;
}

body #learndash_lesson_topics_list .learndash_topic_dots .topic-completed,
body #learndash_lesson_topics_list .learndash_topic_dots .topic-notcompleted {
  padding: 8px .75em;
  border-bottom: 1px solid #ddd;
}

body #learndash_lesson_topics_list .learndash_topic_dots .topic-completed span,
body #learndash_lesson_topics_list .learndash_topic_dots .topic-notcompleted span {
  margin: 0 auto;
  display: inline;
}

body .widget_sfwd-certificates-widget h4,
body .widget_sfwd-transactions-widget h4,
body .widget_sfwd-courses-widget h4 {
  font-size: 1em;
  line-height: inherit;
}

body .widget_ldcourseinfo #course_progress_details {
  margin-top: 1em;
}

body .widget_ldcourseinfo h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

body .widget_ldcourseinfo .ld-course-info-my-courses {
  vertical-align: top;
  margin-bottom: 5px;
  line-height: 1.5;
  display: inline-block;
}

body .widget_ldcourseinfo .ld-course-info-my-courses img {
  vertical-align: top;
  margin-left: .5em;
  display: inline-block;
  float: right;
}

body .widget_ldcourseinfo .ld-course-info-my-courses h2.ld-entry-title {
  font-size: 1em;
  width: -webkit-calc(70% - .5em);
  width: calc(70% - .5em);
  display: inline-block;
}

body a#quiz_continue_link,
body .btn-blue,
body .learndash_checkout_button input[type="submit"] {
  font-size: 1em;
}

body .wpProQuiz_content .wpProQuiz_questionList {
  margin-bottom: 1em;
  padding: 1em;
  background: #fbfbfb;
  border-color: #e2e2e2;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerIncorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerIncorrect:last-child, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerIncorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerIncorrect:last-child {
  color: #ff0000;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_questionListItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_questionListItem:last-child, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_questionListItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_questionListItem:last-child {
  padding: 0 10px;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_questionListItem input,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_questionListItem:last-child input, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_questionListItem input,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_questionListItem:last-child input {
  margin-left: 5px;
  background: #fff;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerIncorrect, body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerIncorrect:last-child,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerCorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerCorrect:last-child, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerIncorrect, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerIncorrect:last-child,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerCorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerCorrect:last-child {
  padding: 5px 10px;
  background: none;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerCorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="single"] .wpProQuiz_answerCorrect:last-child, body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerCorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_answerCorrect:last-child {
  background-color: #6db46d;
  color: #fff;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="free_answer"] .wpProQuiz_questionListItem {
  padding: 0;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="free_answer"] .wpProQuiz_answerIncorrect .wpProQuiz_questionInput {
  border-color: #ff0000;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="free_answer"] .wpProQuiz_answerCorrect .wpProQuiz_questionInput {
  border-color: #6db46d;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="free_answer"] .wpProQuiz_questionListItem {
  background: none;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] {
  background: #fff;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_questionListItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_questionListItem:last-child {
  padding: 0;
  font-weight: 600;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_sortable {
  padding: 5px 10px;
  background: #fbfbfb;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e2e2e2;
  display: inline-block;
  width: 100%;
  position: relative;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_sortable:before {
  content: "\e5d2";
  font-family: Astra;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_answerIncorrect .wpProQuiz_sortable {
  color: #ff0000;
}

body .wpProQuiz_content .wpProQuiz_questionList[data-type="sort_answer"] .wpProQuiz_answerCorrect .wpProQuiz_sortable {
  background-color: #6db46d;
  color: #fff;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_questionListItem,
body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_questionListItem:last-child,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_questionListItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_questionListItem:last-child {
  padding: 0;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_matrixSortString,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_matrixSortString {
  background: #fff;
  border-color: #e2e2e2;
  padding: 5px 15px 15px;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_matrixSortString .wpProQuiz_header,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_matrixSortString .wpProQuiz_header {
  margin-bottom: 10px;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] ul.wpProQuiz_sortStringList,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] ul.wpProQuiz_sortStringList {
  padding: 0;
  margin: 0 -5px;
  min-height: 2em;
  width: 100%;
  float: right;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_sortStringItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_sortStringItem {
  padding: 5px 10px;
  background: #fbfbfb;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_sortStringItem:before,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_sortStringItem:before {
  content: "\e5d2";
  font-family: Astra;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_answerIncorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_answerIncorrect {
  background: none;
  font-weight: 600;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_answerIncorrect .wpProQuiz_sortStringItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_answerIncorrect .wpProQuiz_sortStringItem {
  color: #ff0000;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_answerCorrect,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_answerCorrect {
  background: none;
  font-weight: 600;
}

body .wpProQuiz_content .wpProQuiz_listItem[data-type="matrix_sort_answer"] .wpProQuiz_answerCorrect .wpProQuiz_sortStringItem,
body .wpProQuiz_content .wpProQuiz_questionList[data-type="matrix_sort_answer"] .wpProQuiz_answerCorrect .wpProQuiz_sortStringItem {
  background-color: #6db46d;
  color: #fff;
}

body .wpProQuiz_content .wpProQuiz_tipp > div {
  padding: 10px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  right: 0;
  bottom: 12px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 4px 0px #ccc;
  box-shadow: 0px 0px 4px 0px #ccc;
  max-width: 500px;
}

body .wpProQuiz_content .wpProQuiz_tipp > div .wpProQuiz_header {
  font-weight: 600;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
}

body .wpProQuiz_content .wpProQuiz_tipp > div > p:last-child {
  margin-bottom: .5em;
}

body .wpProQuiz_content .wpProQuiz_tipp > div:before, body .wpProQuiz_content .wpProQuiz_tipp > div:after {
  content: " ";
  position: absolute;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

body .wpProQuiz_content .wpProQuiz_tipp > div:before {
  bottom: 0px;
  border-right: 8px solid transparent;
  border-top: 8px solid #eee;
  border-left: 8px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.2);
  right: 15px;
}

body .wpProQuiz_content .wpProQuiz_tipp > div:after {
  right: 16px;
  bottom: 1px;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
}

body .wpProQuiz_content .wpProQuiz_resultName {
  width: 120px;
  padding-left: 10px;
}

body .wpProQuiz_content .wpProQuiz_response {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 0;
}

body .wpProQuiz_content .wpProQuiz_incorrect {
  padding: 5px 1em;
  border: 1px solid #ff0000;
  color: #ff0000;
  background: rgba(255, 0, 0, 0.2);
}

body .wpProQuiz_content .wpProQuiz_incorrect p:last-child {
  margin-bottom: 0;
}

body .wpProQuiz_content .wpProQuiz_correct {
  padding: 5px 1em;
  border: 1px solid #6db46d;
  color: #6db46d;
  background: rgba(109, 180, 109, 0.2);
}

body .wpProQuiz_content .wpProQuiz_correct p:last-child {
  margin-bottom: 0;
}

body .wpProQuiz_content .wpProQuiz_questionListItem input,
body .wpProQuiz_content .wpProQuiz_questionListItem:last-child input {
  background: #fff;
}

body .wpProQuiz_content .wpProQuiz_lock p,
body .wpProQuiz_content .wpProQuiz_loadQuiz p {
  margin: 1em;
}

body .wpProQuiz_content .wpProQuiz_box,
body .wpProQuiz_content .wpProQuiz_reviewQuestion {
  border-color: #e2e2e2;
  background-color: #fbfbfb;
}

body .wpProQuiz_content .wpProQuiz_box li,
body .wpProQuiz_content .wpProQuiz_reviewQuestion li {
  min-width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  padding: 0;
  border-color: #e2e2e2;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 600;
}

body .wpProQuiz_content .wpProQuiz_reviewColor {
  margin-left: 5px;
  height: .75em;
  width: .75em;
}

body .wpProQuiz_content .wpProQuiz_reviewLegend li {
  margin-left: .75em;
  padding: 0;
}

body .wpProQuiz_content .wpProQuiz_button2 {
  padding: 5px 15px;
  border: none;
}

body .wpProQuiz_content .wpProQuiz_time_limit {
  position: relative;
  padding-bottom: 10px;
}

body .wpProQuiz_content .wpProQuiz_time_limit:before {
  content: '';
  width: 100%;
  height: 8px;
  Background: #fbfbfb;
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

body .wpProQuiz_content .wpProQuiz_time_limit .wpProQuiz_progress {
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 8px;
  margin-bottom: 0;
}

/**
 * LearnDash Shortcode
 */
#ld_course_info_mycourses_list .ld-course-info-my-courses {
  padding: 10px 0;
}

@media (max-width: 544px) {
  #ld_course_info_mycourses_list .ld-course-info-my-courses img {
    display: block;
    margin-left: initial;
    max-width: 100%;
    margin: 10px 0;
  }
  #ld_course_info_mycourses_list .ld-course-info-my-courses .ld-entry-title {
    margin: 0 0 20px;
  }
}
