.widget {
  /**
	 * Progress Widget
	 */
  /**
	 * Course Widget
	 */
}

.widget .progress__indicator {
  line-height: 30px;
}

.widget .llms-progress .llms-progress-bar {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
}

.widget .llms-progress .progress-bar-complete {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.widget .llms-course-outline ul {
  margin-right: 1.5em;
}
