.elementor-2062 .elementor-element.elementor-element-c635113 .elementor-spacer-inner{height:50px;}.elementor-2062 .elementor-element.elementor-element-c635113 .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-6f5356a .elementor-spacer-inner{height:13px;}.elementor-2062 .elementor-element.elementor-element-6f5356a .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-2c62e9a{text-align:left;}.elementor-2062 .elementor-element.elementor-element-2c62e9a.elementor-widget-heading .elementor-heading-title{color:#565656;}.elementor-2062 .elementor-element.elementor-element-2c62e9a .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-625b801 .elementor-divider-separator{border-top-style:dotted;border-top-width:1px;border-top-color:#e96335;width:66%;}.elementor-2062 .elementor-element.elementor-element-625b801 .elementor-divider{padding-top:18px;padding-bottom:18px;}.elementor-2062 .elementor-element.elementor-element-625b801 .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-879136c .elementor-spacer-inner{height:15px;}.elementor-2062 .elementor-element.elementor-element-879136c .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-ec1597a .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-b497d46 .elementor-spacer-inner{height:15px;}.elementor-2062 .elementor-element.elementor-element-b497d46 .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-73024c5 .elementor-divider-separator{border-top-style:dotted;border-top-width:1px;border-top-color:#e96335;width:66%;}.elementor-2062 .elementor-element.elementor-element-73024c5 .elementor-divider{text-align:right;padding-top:15px;padding-bottom:15px;}.elementor-2062 .elementor-element.elementor-element-73024c5 .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2062 .elementor-element.elementor-element-61b5f78 .elementor-spacer-inner{height:50px;}.elementor-2062 .elementor-element.elementor-element-61b5f78 .elementor-widget-container{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}/* Start custom CSS for shortcode, class: .elementor-element-ec1597a *//* Change WC Acct Page Column Widths */
@media only screen and (min-width: 769px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 22%;
  }
  .woocommerce-account .woocommerce-MyAccount-content { 
    width: 78%;
  }
}
/* Style WC Account Endpoint Links */
nav.woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding-left: 0;
  max-width:200px;
  font-size: 17px;
  line-height: 26px;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 8px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
nav.woocommerce-MyAccount-navigation ul li.is-active {
     background-color: #fff;

}
nav.woocommerce-MyAccount-navigation ul li.is-active a {
    background-color: #fff;
  color: rgba(0,0,0,0.8); cursor: default;
}
nav.woocommerce-MyAccount-navigation ul li.is-active:after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.1);
  border-bottom: 20px solid transparent;
  float: right;
  margin-right: -34px;
  margin-top: -40px;
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover {
  background-color: rgba(0,0,0,0.07);
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover:after { 
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.07);
  border-bottom: 20px solid transparent;
  float: right;
  margin-right: -34px;
  margin-top: -40px;
}


#affwp-affiliate-dashboard-affiliate_rank{
    display: none;
}

.woocommerce a.button{
    display: block;
    margin: 5px;
    text-align: center;
}/* End custom CSS */