/*
Theme Name: The Launcher
Theme URI: https://accesspressthemes.com/wordpress-themes/the-launcher/
Author: AccesspressThemes
Author URI: https://accesspressthemes.com/
Description: The Launcher is a free responsive theme that can be used for 1. creating beautiful product landing pages 2. Count down coming soon pages 3. A complete one page website! It is All-in-One package. If you need stunning and SEO optimized landing pages to bring in more traffic to your main site, use this theme to create beautiful landing pages. If your website is still in production and takes some time to go live use this beautiful theme and communicate with / engage your website visitors. If you want to create a simple website in just no time, use this theme to create one page (multi page) website. The theme comes up with a stunning beautiful responsive design, effective Call To Action (CTA) and many other sections which help to capture your visitors interest and increases conversion. The Launcher is also a multipurpose WordPress theme which suits best for landing pages, small businesses, corporate websites, brochure websites etc. It is secure, fast, SEO friendly, WooCommerce compatible, translation ready, and well documented.The theme features WordPress live customizer, site launch countdown, beautiful full page sliders, carousel sliders, beautiful blog section, testimonial section, attractive & effective call to action etc. It is a perfect theme to launch your new website or showcase a product in its best. You can view the demo here http://demo.accesspressthemes.com/the-launcher/ 
Version: 1.2.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: the-launcher
Tags: right-sidebar, left-sidebar, sticky-post, threaded-comments, featured-images, translation-ready, custom-logo, custom-menu, one-column, two-columns, three-columns, footer-widgets, full-width-template, theme-options, holiday, portfolio, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
the launcher is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: #fff;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 0;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
table td {
    color: #727272;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="reset"],
input[type="submit"] ,
input[type="submit"].newsletter-submit{
    text-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none;
    -webkit-box-shadow: none;
    -moz-text-shadow: none;
    -moz-box-shadow: none;
    line-height: 53px;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    border: 0;
    background-color: #e13a49;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 24px;
    max-width: 141px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: background-color 0.5s ease-in-out;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="submit"].newsletter-submit:hover {
    background-color: #701d24;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}
textarea {
    padding-left: 3px;
    width: 100%;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: royalblue;
}
a:visited {
    color: purple;
}
a:hover,
a:focus,
a:active {
    color: midnightblue;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {} .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul li {} .main-navigation li:hover > a,
.main-navigation li.focus > a {} .main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {} .main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {} .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
    float: right;
}
.menu-toggle {
    display: none;
}
.main-navigation ul {
    display: block;
}
#toggle {
    display: block;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin: 9px 16px 9px 0;
}
.alignright {
    display: inline;
    float: right;
    margin: 9px 0px 9px 16px;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clearfix:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.widget select {
    max-width: 100%;
}
/* Search widget. */
.widget_search .search-submit {
    display: none;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}
.byline,
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}
.infinity-end.neverending .site-footer {
    display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
embed,
iframe,
object {
    max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}
.wp-caption-text {
    text-align: center;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}
header,
footer,
figure,
figcaption,
section,
hgroup,
aside,
nav {
    display: block;
}
h1 {
    border-bottom: 0;
}
.ak-container {
    max-width: 1190px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}
body.custom-background {
    background: #fff!important;
}
.single-post #content,
.archive #content {
    padding-bottom: 20px;
}
/*...................
	#header css start
.....................*/
.header_bg_wrap {
    width: 100%;
}
.header_menu_bg {
    clear: both;
    position: absolute;
    z-index: 99999;
    width: 100%;
}
.site-header {
    background-color: transparent;
    display: table;
    width: 100%;
    padding:10px 40px;
    transition: all 0.5s ease;
}
.sticky-wrapper.is-sticky .site-header {
    padding: 5px 40px;
}
.not_home_page .site-header,
.not_slider .site-header {
    background-color: rgba(0, 0, 0, .75);
}
.not_home_page .site-content,
.not_slider .site-content {
    padding-top: 130px;
}
.latest_post_home .site-content {
    padding-top: 30px;
}
.not_slider.latest_post_home .site-content {
    padding-top: 100px;
}
.header_logo {
    float: left;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    text-align:left;
}
.site-header.center{
	display:inline-block;
}
.center .header_logo{
	position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.center #toggle{
	float:right;
}
.top_menu_class .header_logo {
    float: none;
}
.header_logo a,
.header_logo a img {
    display: inline-block;
    vertical-align:middle;
}
.header_logo .site-title {
    border-bottom: 0;
    line-height: 1;
    font-size: auto;
    font-size: 35px;
    font-family: Titillium Web;
    margin-bottom: 5px;
}
.header_logo .site-title a {
    color: #e13a48;
    text-decoration: none;
    letter-spacing: 1px;
}
.header_logo .site-description {
    margin: 0;
    color: #fff;
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
}
/*side menu css*/
.side_menu .menu-visable span {
    display: block;
    background-color: rgba(255, 255, 255, 0.03);
    margin-bottom: 22px;
    padding: 17px 15px 15px 32px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px dotted #333;
    font-family: 'Dosis', sans-serif;
}
.main-navigation {
    width: 300px;
    right: -100%;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #181818;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, .25);
}
.nav_visable .main-navigation {
    right: 0;
}
.main-navigation ul li {
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    width: 100%;
    position: relative;
    text-align: left;
    overflow: hidden;
}
.main-navigation ul li ul {
    margin-top: 0;
}
.mCSB_inside .mCSB_container ul {
    padding: 0;
}
.main-navigation ul.sub-menu li ul {
    border-left: 0;
    padding-bottom: 0;
}
.main-navigation ul li a {
    display: block;
    line-height: 31px;
    padding: 5px 25px 5px 25px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: #CDCDCD;
    font-family: 'Dosis', sans-serif;
    position: relative;
    text-align: left;
}
.main-navigation ul li ul li a {
    padding: 5px 25px 5px 32px;
}
.main-navigation ul li a:hover {
    background: #e13a48;
}
.side_menu .menu-item-has-children > a:after {
    position: absolute;
    display: inline-block;
    content: '\f105';
    right: 15px;
    font-family: FontAwesome;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.side_menu .menu-item-has-children.hover > a:after {
    content: '\f107';
}
#site-navigation li.hover > ul.sub-menu {
    left: auto;
    position: relative;
    z-index: 99;
    transform: translateX(0%) translateY(-0%);
    -webkit-transform: translateX(0%) translateY(-0%);
    -moz-transform: translateX(0%) translateY(-0%);
}
.sub-menu {
    display: none;
}
#site-navigation .sub-menu {
    display: none;
}
.main-navigation ul ul li {
    display: block;
    position: relative;
    border-bottom: 0;
    padding: 6px 0;
    text-align: left;
}
.main-navigation li {
    float: none;
    position: relative;
    display: block;
    text-align: center;
}
/*toggle css start for side menu*/
@keyframes toggledbulger {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#toggle { 
    width: 28px;
    height: 30px;   
    cursor: pointer;
    z-index: 1;
    animation: toggledbulger 0.6s;
    transition: margin-top 0.5s ease-in-out;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    display: table-cell;
    vertical-align: middle;
}
#toggle.menu_visible {
	right: 10px;
    animation: toggledbulger 0.6s linear;
    position: absolute;
    transform: translateY(-50%);
    transition: right 10s ease-in-out -webkit-transition: right 10s ease-in-out;
    -moz-transition: right 10s ease-in-out;
    top: 50%;
}
.top_menu_class #toggle.menu_visible,
.bottom_menu_class #toggle.menu_visible {
    right: 0;
}
#toggle div {
    width: 100%;
    height: 3px;
    background: #ffffff;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
#toggle.menu_visible div {
    animation: toggledbulger 0.6s ease-in-out;
}
#toggle.menu_visible .one {
    transform: rotate(45deg) translate(5px, -2px);
    -webkit-transform: rotate(45deg) translate(5px, -2px);
    -moz-transform: rotate(45deg) translate(5px, -2px);
    -ms-transform: rotate(45deg) translate(5px, -2px);
    -o-transform: rotate(45deg) translate(5px, -2px);
    animation: toggledbulger 0.6s ease-in-out;
}
#toggle.menu_visible .two {
    opacity: 0;
    display: none;
}
#toggle.menu_visible .three {
    transform: rotate(-45deg) translate(7px, 0px);
    -webkit-transform: rotate(-45deg) translate(7px, 0px);
    -ms-transform: rotate(-45deg) translate(7px, 0px);
    -o-transform: rotate(-45deg) translate(7px, 0px);
    -moz-transform: rotate(-45deg) translate(7px, 0px);
}
button.menu-toggle {
    display: none;
}
/*toggle css end for side menu*/
/*side menu css end*/
/*top and bottom menu css start*/
body.bottom_menu_class {
    padding-bottom: 65px;
}
#toggle.not_side_menu {
    display: none;
}
.top_menu_class #menu,
.bottom_menu_class #menu {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}
.top_menu,
.bottom_menu {
    right: 0;
    float: right;
    top: 0;
    position: relative;
    height: auto;
    background-color: transparent;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
}
.top_menu .menu-header-menu-container {
    padding-top: 13px;
    padding-right: 40px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.not_home_page .top_menu .menu-header-menu-container {
    padding-top: 0px;
}
.bottom_menu .menu-header-menu-container {
    padding-top: 0;
    padding-right: 40px;
}
.sticky-wrapper.is-sticky .top_menu .menu-header-menu-container {
    padding-top: 0px;
}
.top_menu ul,
.bottom_menu ul {
    text-align: right;
    padding-left: 0;
}
.top_menu ul li,
.bottom_menu ul li {
    display: inline-block;
    width: auto;
    position: relative;
    border: 0;
    padding: 0;
}
.top_menu ul li ul,
.bottom_menu ul li ul {
    position: absolute;
}
.top_menu ul li ul.sub-menu {
    background: rgba(0, 0, 0, 0.8);
    margin-left: 0;
}
.top_menu ul li:last-child ul,
.bottom_menu ul li:last-child ul {
    right: 0;
}
.top_menu ul li:last-child ul.sub-menu li ul {
    margin-left: 0;
    left: -100%;
    width: 200px;
    top: 0;
}
.header_menu_bg.bottom-menu ul li:last-child .sub-menu li .sub-menu {
    left: -100%;
    bottom: 0;
}
.top_menu .sf-arrows li:last-child ul li a.sf-with-ul:after,
.bottom_menu .sf-arrows li:last-child ul li a.sf-with-ul:after {
    right: auto;
    left: 0;
    border-left-color: transparent;
    border-left-color: transparent;
    border-right-color: #dFeEFF;
    border-right-color: rgba(255, 255, 255, .5);
}
.top_menu ul li ul.sub-menu li {
    width: 200px;
}
.top_menu ul li ul.sub-menu li .sub-menu {
    margin-left: 0;
    left: 100%;
    width: 200px;
    top: 0;
}
.top_menu ul li ul.sub-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    font-size: 11px;
}
.top_menu ul li:before,
.bottom_menu ul li:before {
    content: none;
}
.top_menu ul li:nth-child(1),
.bottom_menu ul li:nth-child(1) {
    border: 0;
}
.top_menu ul li a,
.bottom_menu ul li a {
    padding: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    display: block;
}
.top_menu ul li a:hover,
.bottom_menu ul li a:hover {
    color: #ee4f50;
}
.header_menu_bg.bottom-menu {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.header_menu_bg.bottom-menu .header_logo img {
    max-height: 44px;
}
.header_menu_bg.bottom-menu .sub-menu {
    position: absolute;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    margin-left: 0;
    text-align: left;
    padding-right: 0;
}
.header_menu_bg.bottom-menu .sub-menu {
    width: 200px;
}
.header_menu_bg.bottom-menu .sub-menu li {
    width: 200px;
}
.header_menu_bg.bottom-menu .sub-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    font-size: 11px;
    text-align: left;
}
.header_menu_bg.bottom-menu li:last-child .sub-menu {
    left: auto;
    right: 0;
}
.header_menu_bg.bottom-menu .sub-menu li .sub-menu {
    left: 100%;
    bottom: 0;
}
.bottom-menu .sticky-wrapper {
    height: auto ! important;
}
/*top menu and bottom css end*/
/*header css end*/
/*banner timer start*/
.heade_bg_slider {
    position: relative ! important;
    width: 100% ! important;
}
.banner_timer,
.slider_content_wrap {
    position: relative;
}
.banner_timer .owl-carousel {
    z-index: 0;
}
.slider_contents {
    position: absolute;
    top:35%;
    width:95%;
    left: 50%;
    padding:0 20px;
    transform: translate(-50%, -35%);
    -webkit-transform: translate(-50%, -35%);
    -moz-transform: translate(-50%, -35%);
    text-align: center;
    z-index: 1;
}
.slider_content_wrap.disable-counter-form .slider_contents {
	top: 50%;
	left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.bottom_menu_class .slider_contents {
    top:28%;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -28%);
    -webkit-transform: translate(-50%, -28%);
    -moz-transform: translate(-50%, -28%);
}
.counter_title {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 100%;
    width: 100%;
    text-align: center;
}
.launcher_form_description {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding-top: 25px;
    text-transform: uppercase;
    word-spacing: 0px;
    letter-spacing: 3px;
    font-weight: 200;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    text-align: center;
}
.form_counter {
    position: absolute;
    top:95%;
    left: 50%;
    transform: translateX(-50%) translateY(-95%);
    -webkit-transform: translateX(-50%) translateY(-95%);
    -moz-transform: translateX(-50%) translateY(-95%);
    text-align: center;
    width: 90%;
    z-index: 1;
}
.image-size.banner_timer .form_counter.is_counter_disable,
.form_counter.is_counter_disable,
.form_counter.form_disable ,
.image-size.banner_timer .form_counter.form_disable{
	top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    -webkit-transform: translateX(-50%) translateY(-70%);
    -moz-transform: translateX(-50%) translateY(-70%);
}
.bottom_menu_class .form_counter {
    top: 70%;
    transform: translateX(-50%) translateY(-70%);
    -webkit-transform: translateX(-50%) translateY(-70%);
    -moz-transform: translateX(-50%) translateY(-70%);
}
.bottom_menu_class .form_counter.is_counter_disable, 
.bottom_menu_class .form_counter.form_disable{
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    -webkit-transform: translateX(-50%) translateY(-60%); */
    -moz-transform: translateX(-50%) translateY(-60%);
}
.slider-disable{
	background:#777;
	padding:150px 0 50px;
}
.slider-disable .form_counter  {
	position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    text-align: center;
    width: 90%;
    z-index: 1;
}
input[type="email"].newsletter-email {
    line-height: 53px;
    height:53px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 403px;
    margin-right: 20px;
    display: block;
    padding: 0 0 0 17px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #777676;
    font-weight: 300;
}
input[type="submit"].newsletter-submit:hover {
    background-color: #701d24;
}
input[type="email"].newsletter-email:focus,
input[type="submit"].newsletter-submit:focus {
    border: 0;
    box-shadow: none;
    outline: 0;
}
.launcher_form_contact {
    clear: both;
    padding-top: 24px;
    position:relative;
}
.form_counter.is_counter_disable  .launcher_form_contact{
	padding-top:0;
}
.form_counter_wrap .tnp form p {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.form_counter_wrap .tnp form {
    max-width: 608px;
    margin: 0 auto;
    background-color: rgba(33, 37, 39, 0.4);
    padding: 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; 
}

.form_counter_wrap .tnp-widget-minimal.tnp form{
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form_counter_wrap .tnp-widget{
    text-align: left;
    color: #FFF;
}
.launcher_form_counter #countdown_dashboard {
    text-align: center;
    height: auto;
}
.launcher_form_counter .dash {
    float: none;
    display: inline-block;
    width: 124px;
    margin-left: 10px;
    height: 87px;
    text-align: center;
}
.launcher_form_counter #lwt-countdown-losange {
    display: none;
}
.launcher_form_counter .dash .digit {
    color: #fff;
    font-size: 38.43px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 0 3.5px;
    height: 60px;
    overflow: hidden;
}
.launcher_form_counter .dash .digit .top,
.launcher_form_counter .dash .digit .bottom {
    height: 60px;
}
.launcher_form_counter .dash_title {
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.banner_timer .launcer_image {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.banner_timer .launcer_image img {
    display: block;
}
.banner_timer .launcer_image:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.banner_timer .owl-carousel .owl-controls .owl-nav {
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1;
}
.banner_timer .owl-carousel .owl-controls .owl-nav .owl-prev,
.banner_timer .owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    font-size: 55px;
    color: #fff;
    font-weight: 100;
    z-index: 999;
    right: 0;
}
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls .owl-prev,
#arrow_left {
    border-right: 2px solid #fafafa;
    height: 22px;
    right: 0;
    color: #fafafa;
    line-height: 22px;
    position: absolute;
    text-align: center;
    margin-right: 25px;
    margin-top: -22px;
    text-decoration: none;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: right bottom 0;
    -moz-transform-origin: right bottom 0;
    -ms-transform-origin: right bottom 0;
    -o-transform-origin: right bottom 0;
    transform-origin: right bottom 0;
    width: 100px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    background:transparent;
    border-radius:0;
}
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls .owl-next,
#arrow_right {
    height: 22px;
    right: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    margin-right: 25px;
    margin-top: -122px;
    text-decoration: none;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: right bottom 0;
    -moz-transform-origin: right bottom 0;
    -ms-transform-origin: right bottom 0;
    -o-transform-origin: right bottom 0;
    transform-origin: right bottom 0;
    width: 100px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    color: #fafafa;
    outline: 0;
    text-transform: uppercase;
    background:transparent;
    border-radius:0;
}
.header_bg_wrap  .arrow-enable.image-size .owl-carousel .owl-controls .owl-next,
.header_bg_wrap  .arrow-enable.image-size .owl-carousel .owl-controls .owl-prev,
.enable_slider_arrow #arrow_right,
.enable_slider_arrow #arrow_left{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.header_bg_wrap .image-size.arrow-enable.banner_timer .owl-carousel .owl-controls .owl-next,
.enable_slider_arrow #arrow_right {
	width:50px;
	height:50px;
	background:url('images/next.png') no-repeat center;
	border: 0;
    margin: 0;
    padding: 0;
    right:5px;
}
.header_bg_wrap .image-size.arrow-enable.banner_timer .owl-carousel .owl-controls .owl-prev,
.enable_slider_arrow #arrow_left {
	width: 50px;
    height: 50px;
    background: url('images/prev.png') no-repeat center;
    left: 0;
    right: auto;
    border: 0;
    margin: 0;
    padding: 0;
    left:5px;
}
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls .owl-prev:hover,
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls .owl-next:hover,
#arrow_left:hover,
#arrow_right:hover {
    color: #e13a49;
}
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls,
.header_bg_wrap .image-size.banner_timer .owl-carousel .owl-controls{
	margin-top:0;
}
.image-size.arrow-enable.banner_timer .owl-carousel  .owl-controls .owl-prev{
	left:0;
	right:auto ;
}
.image-size.arrow-enable.banner_timer .owl-carousel  .owl-controls .owl-next{
	right:0;
	left:auto ;
}
.image-size.banner_timer .form_counter{
    position: absolute;
    top:90%;
    left: 50%;
    transform: translateX(-50%) translateY(-90%);
    -webkit-transform: translateX(-50%) translateY(-90%);
    -moz-transform: translateX(-50%) translateY(-90%);
}
.image-size.banner_timer  .slider_contents{
    position: absolute;
    top:20%;
    width: 95%;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
}
.image-size .owl-dots{
	display:none ! important;
}
/*banner timer end*/
/*service section start*/
.service_section_wrap {
    padding: 70px 0 30px;
}
.service_posts_wrap {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 84px auto 150px;
}
.service_section_wrap .title_sub span {
    display: block;
}
.title_sub .service_title {
    font-family: Titillium Web;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #424242;
    letter-spacing: 1px;
    word-spacing: 6px;
    display: block;
    text-transform: uppercase;
}
.title_sub .service_sub_title {
    font-family: Titillium Web;
    font-size: 38px;
    line-height: 38.23px;
    font-weight: 700;
    color: #424242;
    text-transform: uppercase;
    padding: 14px 0 0px;
    display: block;
}
.title_sub span:last-child{
	padding-bottom:20px;
}
.title_desc{
	text-align:center;
}
.service_desc {
    padding: 0 146px;
    font-size: 16px;
    line-height: 24px;
    color: #777;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
}
.title_desc div:last-child{
	 padding-bottom: 55px;
}
.testimonial-posts .title_desc div:last-child{
	padding-bottom: 0px;
}
.service_posts_wrap .service_post_6 .title_content_wrap {
    padding-top: 10px;
}
.title_content_wrap span {
    display: block;
    word-break: break-all;
}
.image_service {
    background-color: #fff;
    z-index:99;
    text-align: center;
    width: 80px;
    line-height: 80px;
}
.image_service img {
    vertical-align: middle;
    display:inline-block;
}
.service_post_1 .image_service{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.service_post_6 .image_service{
	position:static;
	margin:0 auto;
}
.service_posts_wrap .title_content_wrap {
    width: 330px;
}
.service_post_1 .title_content_wrap{
	padding-bottom:30px;
	text-align:center;
}
.service_post_2 .title_content_wrap,
.service_post_4 .title_content_wrap{
	padding:0 10px 0 20px;
}
.service_post_3 .title_content_wrap,
.service_post_5 .title_content_wrap{
	padding:0 20px 0 10px;
}
.service_post_1,
.service_post_2,
.service_post_3,
.service_post_4,
.service_post_5,
.service_post_6{
	position:absolute;
	z-index:999;
}
.service_post_1,
.service_post_6{
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.service_post_1{
	bottom:100%;
}
.service_post_6{
	top:95%;
	text-align:center;
}
.service_post_2,
.service_post_3{
	top:25%;
	-webkit-transform:translateY(-25%);
	transform:translateY(-25%);
}
.service_post_2,
.service_post_4{
	right:100%;
	text-align:right;
}
.service_post_3,
.service_post_5{
	left:100%;
	text-align:left;
}
.service_post_4,
.service_post_5{
	top:75%;
	-webkit-transform:translateY(-75%);
	transform:translateY(-75%);
}
.service_post-inner-wrap{
	position:relative;
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex;
	align-items: center;
}
.service_post_6 .service_post-inner-wrap{
	display:block;
}
.service_post_2 .service_post-inner-wrap,
.service_post_4 .service_post-inner-wrap{
	transform:translateX(15%);
	-ms-flex-direction:row-reverse;
	-moz-flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
    flex-direction: row-reverse;
}
.service_post_3 .service_post-inner-wrap,
.service_post_5 .service_post-inner-wrap{
	transform:translateX(-15%);
}
.circle_div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.circle_div:before,
.circle_div:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.33s ease-out;
    -webkit-transition: all 0.33s ease-out;
    transition: all 0.5s ease-in-out;
}
.circle_div:before {
    border: 2px solid #ed4e50;
    left: -10px;
}
.circle_div:after {
    border: 2px solid #b2b1b1;
    left: 10px;
}
.service_posts_wrap .service_title {
    padding-bottom: 7px;
}
.service_posts_wrap .service_title a {
    display: block;
    font-family: 'Khand', sans-serif;
    line-height: 22px;
    font-size: 26px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}
.service_posts_wrap .service_title a:hover,
.blog_title_content .blog_title a:hover{
	color:#e13a48;
}
.service_posts_wrap .service_content {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
/*service section end*//*feature section start*/
#plx_feature_section {
    background: #999;
    position: relative;
}
#plx_feature_section:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main_wrap_feature {
    padding: 30px 30px 10px;
}
.main_wrap_feature .title_content_wrap,
.main_wrap_feature .feature_image {
    width: 50%;
    float: left;
}
.main_wrap_feature .title_content_wrap {
    padding: 125px 20px 0 0;
    text-align: left;
}
.main_wrap_feature .title_feature {
    color: #fff;
    font-family: Titillium Web;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    letter-spacing: 3px;
}
.main_wrap_feature .title_feature span {
    font-size: 38px;
    line-height: 38.23px;
    padding-top: 15px;
    font-weight: bold;
    display: block;
}
.main_wrap_feature .desc_feature p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding-top: 8px;
}
.main_wrap_feature .owl-carousel .owl-controls .owl-dot {
    display: inline-block;
}
.main_wrap_feature .owl-carousel .owl-controls .owl-dot span {
    display: inline-block;
    text-indent: 99999px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    z-index: 999999;
    position: relative;
    cursor: pointer;
    outline: 0;
}
.main_wrap_feature .owl-carousel .owl-controls .owl-dot.active span,
.main_wrap_feature .owl-carousel .owl-controls .owl-dot span:hover {
    border: 2px solid #ed4e4f;
}
/*feature section end*/
/*Blog section start*/
.blogs_section_wrap .title_sub .service_sub_title {
    padding: 14px 0 58px
}
.blogs_section_wrap {
    padding: 70px 0 70px;
}
.wrap_all_blog {
    position: relative;
    clear: both;
    display: inline-block;
}
.v_line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    top: 0px;
    height: 100%;
    z-index: 1;
    border-right: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.blogs_post_wrap {
    position: relative;
    padding-right: 50%;
    width: 100%;
    clear: both;
    margin-bottom: 77px;
}
.blogs_post_wrap:last-child {
    margin-bottom: 0;
}
.blogs_post_wrap:nth-child(2n) {
    padding-right: 0;
    padding-left: 50%;
}
.blogs_date_wrap {
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.blogs_post_wrap:nth-child(2n) .blogs_date_wrap {
    right: auto;
    left: 0;
}
.blogs_post_wrap .wrap_blg_dt {
    position: relative;
    width: 100%;
}
.blogs_date_wrap .date_blogs {
    width: 123px;
    height: 112px;
    background-color: #ee4f50;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 auto;
    padding: 27px 0;
    position: relative;
}
.date_blogs span:nth-child(1) {
    font-family: Titillium Web;
    font-size: 16px;
    line-height: 16.5px;
    font-weight: 300px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}
.date_blogs span:nth-child(2) {
    padding-top: 11px;
    font-family: Titillium Web;
    font-size: 26.12px;
    line-height: 26.28px;
    font-weight: bold;
    color: #fff;
    display: block;
}
.blog_title_content span {
    display: block;
    text-align: right;
}
.blogs_post_wrap:nth-child(2n) .blog_title_content span {
    text-align: left;
}
.blogs_post_wrap .blog_title_content:before,
.blogs_date_wrap .wrap_blg_dt:before {
    position: absolute;
    content: '';
}
.blogs_post_wrap .wrap_blg_dt:before {
    width: 35.5%;
    height: 0;
    border: 2px solid #d3d0d0;
    left: 2.5%;
    top: 50%;
}
.blogs_date_wrap .date_blogs:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 8px 0 10px;
    bottom: -16px;
    right: 0;
    border-color: transparent transparent transparent #9e2627;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.blogs_post_wrap:nth-child(2n) .wrap_blg_dt:before {
    left: auto;
    right: 2.5%;
}
.blogs_post_wrap .blog_title_content {
    position: relative;
}
.blogs_post_wrap .blog_title_content:before {
    width: 18px;
    height: 18px;
    border: 2px solid #ee4f50;
    background-color: #fff;
    border-radius: 50%;
    right: -9px;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.blogs_post_wrap:nth-child(2n) .blog_title_content:before {
    right: auto;
    left: -9px
}
.blog_title_content {
    padding-right: 100px;
}
.blogs_post_wrap:nth-child(2n) .blog_title_content {
    padding-right: 0;
    padding-left: 100px;
}
.blog_title_content span {
    display: block;
}
.blog_title_content .blog_title a {
    font-family: Titillium Web;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    word-spacing: 6px;
    text-decoration: none;
    outline: 0;
}
.blog_title_content .blog_content {
    padding-top: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #686767;
}
/*Blog section end*/
/*Testimonial section start*/
#plx_testimonial_section {
    position: relative;
    background-position: 50%;
}
.empty_test {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
.testimonial-posts {
    padding: 70px 0 10px;
}
.testimonial-post-wrap .wrap_test_img_main {
    float: left;
    width: 30%;
    padding: 15px 0;
}
.testimonial_image {
    height: 126px;
    width: 126px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
}
.testimonial_image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.testimonial_image:before,
.testimonial_image:after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    top: -12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.testimonial_image:before {
    border: 2px solid #ed4f50;
    left: -17px;
}
.testimonial_image:after {
    border: 2px solid #fff;
    left: -7px;
}
.testimonial-posts .title_sub {
    position: relative;
    z-index: 1;
    text-align: left;
    padding-left: 30%;
}
.testimonial-posts .title_sub .service_sub_title,
.testimonial-posts .title_sub .service_title {
    color: #d8d5d5;
}
.testimonial-posts .service_sub_title {
    padding-bottom: 0;
}
.testimonial_main {
    float: left;
    width: 70%;
    text-align: left;
    padding-top: 25px;
}
.testimonial_main h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #777777;
    font-family: Titillium Web;
    text-transform: uppercase;
    letter-spacing: 1;
}
.testimonial_content {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    color: #d8d5d5;
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
    font-weight: 100;
}
.testimonial_content:before,
.testimonial_content:after {
    position: relative;
    font-family: FontAwesome;
    font-size: 10px;
    vertical-align: top;
    top: -5px;
}
.testimonial_content:before {
    content: '\f10d';
}
.testimonial_content:after {
    content: '\f10e';
}
.testimonial-posts .bx-pager-item {
    display: inline-block;
    text-indent: 99999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #869791;
    margin: 0 5px;
    z-index: 999999;
    position: relative;
    cursor: pointer;
}
#plx_testimonial_section .owl-carousel .owl-controls .owl-dot {
    display: inline-block;
}
#plx_testimonial_section .owl-carousel .owl-controls .owl-dot span {
    display: inline-block;
    text-indent: 99999px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    z-index: 999999;
    position: relative;
    cursor: pointer;
    outline: 0;
}
#plx_testimonial_section .owl-carousel .owl-controls .owl-dot.active span,
#plx_testimonial_section .owl-carousel .owl-controls .owl-dot span:hover {
    border: 2px solid #ed4e4f;
}
#plx_testimonial_section .owl-carousel .owl-stage-outer {
    padding: 0 0 50px 0;
}
/*Testimonial section end*/
/*client section start*/
.launcher_client_section {
    padding: 70px 0;
}
#carousel_client{
    padding: 0 20px;
}
.launcher_client_section .service_sub_title {
    padding: 14px 0 56px;
}
.launcher_client_section .owl-prev,
.launcher_client_section .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.launcher_client_section .owl-prev,
.launcher_client_section .owl-next {
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    opacity: 0;
    font-size: 20px;
    color: #000;
}
.launcher_client_section .owl-prev {
    left: -10px;
}
.launcher_client_section .owl-next {
    right: -10px;
}
.launcher_client_section .client_images:hover .owl-prev,
.launcher_client_section .client_images:hover .owl-next {
    opacity: 1;
}
.launcher_client_section .owl-dots .owl-dot {
    display: none;
}
.launcher_client_section .owl-carousel .owl-item{
	display: inline-block;
    vertical-align: middle;
    float:none;
}
.launcher_client_section .owl-carousel .owl-stage{
	margin:0 auto;
}
/*client section end*/
/*.........
plx_cta_section start
............*/
#plx_cta_section {
    background-color: #999;
    position: relative;
}
#plx_cta_section:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cta_wrap {
    padding: 70px 0;
    position: relative;
}
.cta_description {
    font-size: 23.86px;
    line-height: 24px;
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
}
.cta_button {
    display: block;
    margin-top: 30px;
    text-align: center;
}
.cta_button button,
.the_launcher_pricing_button_link_class a,
.contact_section_wrap .home-map-section aside form input[type="submit"] {
	border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.the_launcher_pricing_button_link_class a:hover,
.cta_button button:hover ,
.contact_section_wrap .home-map-section aside form input[type="submit"]:hover{
    background: #701d24;
}
/*.........
plx_cta_section css end
............*/
/*.........
pricing section start
............*/
#plx_pricing_section {
    padding: 70px 0 41px;
}
.pricing_section_title {} .pricing_widget ul {
    padding: 69px 15px 15px;
    overflow: hidden;
}
.the_launcher_pricing_widget {
    width: 33.33%;
    float: left;
    padding: 0px 0px 27px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: #f8f8f8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.the_launcher_pricing_widget.highlite_table
 {
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    -webkit-box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    -moz-box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    padding: 0px 0px 38px;
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
}
.the_launcher_pricing_widget:hover{
	    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    -webkit-box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    -moz-box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
}
#plx_pricing_section .service_desc {
    padding-bottom: 0;
}
.highlite_table .the_launcher_pricing_sub_title {
    margin-bottom: 20px;
    padding: 10px 0 15px 0;
}
.the_launcher_pricing_title_class {
    color: #6c6c6c;
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 15px 0 0;
}
.the_launcher_pricing_sub_title {
    color: #808080;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
}
.the_launcher_pricing_price_class {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}
.the_launcher_pricing_price_class > span:nth-child(1) {
    font-size: 82px;
    line-height: 1;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.the_launcher_pricing_price_class > span:nth-child(1) .currency {
    font-size: 38px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
}
.the_launcher_pricing_price_class > span:nth-child(2) {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #aaa;
    display: block;
    padding-top: 6px;
}
.pricing-field {
    border: 1px solid #ddd;
    border-top: 0;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 15px;
    text-transform: capitalize;
    margin: 0 20px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.3;
}
.the_launcher_pricing_field1_class {
    border-top: 1px solid #ddd;
}
.the_launcher_pricing_button_link_class a {
    margin-top: 20px;
}
/*.........
pricing section end
............*/
/*.........
video section css start
............*/
.video {
    display: block;
    height: 463px;
}
.play-pause-video {
    display: block;
}
.launcher_video .title_desc.play,
.launcher_video .play-pause-video.play,
.launcher_video .play:after {
    display: none;
}
.buttonBar {
    display: none;
}
.mb_YTPProgress {
    display: none;
}
span#controlBar_container-1 {
    background: transparent!important;
}
.launcher_video {
    position: relative;
}
.launcher_video .title_desc {
    position: absolute;
    left: 0;
    right: 0;
    top: 84px;
    z-index: 9999;
}
.launcher_video .title_sub .service_title,
.launcher_video .service_sub_title,
.launcher_video .service_desc {
    color: #fff;
}
.launcher_video .video_wrap {
    position: relative;
}
.launcher_video .video_wrap:after {
    position: absolute;
    content: '';
    background: url('images/video-overlay.png') repeat;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.launcher_video .play-pause-video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    bottom: 73px;
    width: 82px;
    height: 82px;
    z-index: 9999;
    background: #ee4f50;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 0;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    text-align: center;
    text-shadow: 0 0 0 0;
    -webkit-text-shadow: 0 0 0 0;
    -moz-text-shadow: 0 0 0 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 20px;
}
.launcher_video .play-pause-video:before {
    content: '\f04b';
    font-family: Fontawesome;
    font-size: 37px;
    background: transparent;
    color: #ffffff;
    padding: 0;
}
.launcher_video .gap {
    width: 100%;
    display: block;
    height: 0;
}
.launcher_video .title_sub .service_sub_title {
    padding: 12px 0 35px;
}
.launcher_video .service_desc {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
/*.........
plx_contact_section start
............*/
.contact_section_wrap{
	padding:70px 0;
	position:relative;
}
.contact_section_wrap:before{
		content:'';
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
}
.contact_section_wrap .title_desc{
		position:relative;
}
.contact_section_wrap .contact_title {
	font-family: Titillium Web;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 6px;
    display: block;
    text-transform: uppercase;
}
.contact_section_wrap  .contact_sub_title{
	font-family: Titillium Web;
    font-size: 38px;
    line-height: 38.23px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 0 20px;
    display: block;
}
.contact_section_wrap  .contact_desc{
    padding: 0 146px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    padding-bottom: 55px;
}
.contact_section_wrap .home-map-section{
	position:relative;
}

.contact_section_wrap .home-map-section aside{
	float:left;
	width:50%;
	margin:0;
}
.contact_section_wrap .home-map-section iframe{
	padding:20px;
	background:#fff;
}
.contact_section_wrap .home-map-section aside .ufbl-form-wrapper.ufbl-default-template{
	box-shadow:0 0 0;
}
.contact_section_wrap .home-map-section .ufbl-form-field-wrap label{
	color:#fff;
	font-family: Titillium Web;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    word-spacing: 6px;
}
.contact_section_wrap .home-map-section .ufbl-default-template .ufbl-form-title {
    font-family: 'Montserrat', sans-serif;
    text-align:left;
    font-size: 20px;
    line-height:20px;
    padding:10px 0 30px 0;
    margin-bottom:0;
    font-weight:600;
    color:#fff;
    text-transform: uppercase;

}
.contact_section_wrap .home-map-section .ufbl-form-wrapper.ufbl-default-template{
	margin-top:0;
	padding-top:0;
}
.contact_section_wrap .home-map-section  .ufbl-default-template .ufbl-form-field-wrap{
		padding-bottom:0;
}
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="text"],
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="email"],
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="url"],
.contact_section_wrap .home-map-section .ufbl-form-field-wrap textarea{
	width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 25px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius:0;
}
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="text"]::-webkit-input-placeholder,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="email"]::-webkit-input-placeholder,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="url"]::-webkit-input-placeholder,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap textarea::-webkit-input-placeholder,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="text"]:-moz-placeholder ,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="email"]:-moz-placeholder ,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap input[type="url"]:-moz-placeholder ,
.contact_section_wrap .home-map-section .ufbl-form-field-wrap textarea:-moz-placeholder  {
   color: #eee;
   font-family: 'Montserrat', sans-serif;
   font-size:12px;
}
/*.........
plx_contact_section end
............*/
/*.........
video section css end
............*/
/*.........
footer start
............*/
footer.site-footer {
    background: rgb(21, 21, 21);
}
.footer_area_launcher {
    text-align: left;
    width: 100%;
    padding: 70px 0 0;
}
.footer_area_launcher .sidebar_one,
.footer_area_launcher .sidebar_two,
.footer_area_launcher .sidebar_three {
    float:left;
}
.footer_area_launcher .sidebar_one {
    width: 33.33%;
}
.footer_area_launcher .sidebar_two {
    width: 40.67%;
    padding: 0 20px;
}
.footer_area_launcher .sidebar_three {
    width: 25%;
}
.footer_content_area {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
}
.footer_area_launcher .footer-title-footer {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    padding-bottom: 16px;
    padding-top: 16px;
}
.footer_area_launcher .footer_info_wrap .info_wrap {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
}
.footer_area_launcher .footer_info_wrap .info_wrap .location_info,
.footer_area_launcher .footer_info_wrap .info_wrap .phone_info,
.footer_area_launcher .footer_info_wrap .info_wrap .email_info {
    position: relative;
    padding: 1px 0 1px 30px;
}
.footer_area_launcher .footer_info_wrap .info_wrap .fa_icon_info {
    position: absolute;
    left: 0;
}
.footer_area_launcher .info-wrap-info {
    padding-top: 30px;
}
.footer_area_launcher .info-wrap-info .fa {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.footer_area_launcher .rn_post_wrap .rn_image {
    float:left;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    max-width:20%;
}
.footer_area_launcher .rn_post_wrap .rn_image a {
    display: block;
}
.footer_area_launcher .rn_post_wrap .rn_image a img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
}
.footer_area_launcher .rn_post_wrap .rn_image a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.footer_area_launcher .title_content_wrap {
    float:left;
    width: 80%;
    padding-left: 17px;
    box-sizing:border-box;
}
.footer_area_launcher .title_content_wrap .tn_title a {
    color: #dedede;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}
.footer_area_launcher .title_content_wrap .tn_title a:hover {
    color: #ee4f50;
}
.footer_area_launcher .rn_content {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
}
.footer_area_launcher .rn_post_loop {
    padding-top: 13px;
    clear:both;
}
footer .site-info {
    border-top: 1px solid #292929;
    padding: 20px 0;
}
footer .site-info span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
footer .site-info span a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
footer .site-info span a:hover {
    color: #e13a48;
}
.footer_area_launcher .footer_info_wrap .info_wrap {
    padding-top: 11px;
}
.footer_area_launcher .sidebar_one a img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.footer_area_launcher .sidebar_one a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/*.........
footer end
............*/
/*............
contact us page start
..............*/
.contact-info-wrap {
    clear: left;
    width: 33.33333333%;
    float: left;
}
.contact-info-wrap ul {
    padding-left: 0;
    margin-left: 0;
}
.contact-info-wrap ul li {
    list-style: none;
}
.contact-form-wrap {
    clear: right;
    width: 66.66666667%;
    float: right;
    padding: 30px 0 30px 30px;
}
.contact-form-wrap .ufbl-form-wrapper.ufbl-default-template {
    margin-top: 0;
}
.contact-form-wrap .ufbl-default-template .ufbl-form-title {
    padding: 0;
}
.contact-form-wrap .ufbl-default-template .ufbl-form-field-wrap >label {
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    color: #777;
}
.contact-form-wrap form input[type="submit"] {
    border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.contact-form-wrap form input[type="submit"]:hover {
    background: #701d24;
}
/*..............
contact us page end
................*/
/*..............
page-test start
................*/
.content-area-both {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0px 10px;
    position: relative;
    left: 25%;
}
article {
    clear: both;
    background: #fff;
    text-align: left;
}
.archive article {
    padding-bottom:60px;
}
.single_page_image {
    width: 100%;
}
.single_page_image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.widget-area-left-both {
    background: #fff;
    padding: 0 30px 0 0;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 25%;
    position: relative;
    right: 50%;
}
.widget-area-right-both {
    float: right;
    width: 25%;
    background: #fff;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.page.page-id-159 #page #content,
.category-archive-test #page #content,
.search-no-results #page #content {
    padding-bottom: 20px;
}
.no-results.not-found {
    text-align: center;
    background: #fff;
    padding-bottom: 30px;
}
.content-area-left {
    box-sizing: border-box;
    float: right;
    width: 75%;
    padding: 0px 10px;
    position: relative;
    left: 0;
}
.widget-area-left {
    background: #fff;
    padding: 0 30px 15px 0;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 25%;
    position: relative;
}
.content-area-right {
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding: 0px 10px 0 0;
    position: relative;
}
.widget-area-right {
    background: #fff;
    padding: 0 0 15px 30px;
    box-sizing: border-box;
    overflow: hidden;
    float: right;
    width: 25%;
    position: relative;
}
footer.entry-footer {
    background: transparent;
    color: #000;
    text-align: left;
    padding-left: 0px;
}
article footer.entry-footer {
    padding-left: 10px;
}
.entry-header h1 {
    font-size: 22px;
    line-height: 25px;
    font-style: normal;
    color: #272727;
    border-bottom: 0;
    padding-bottom: 15px;
    font-weight: 400;
}
.entry-header h1 a {
    font-size: 22px;
}
.single_post_image {
    padding-bottom: 25px;
}
.entry-meta span {
    font-size: 14px;
    color: #747474;
}
#calendar_wrap table#wp-calendar tbody tr td {
    text-align: center;
}
#calendar_wrap table #prev {
    text-align: left;
}
#calendar_wrap table #next {
    text-align: right;
}
#calendar_wrap table#wp-calendar tbody tr td a,
#calendar_wrap table#wp-calendar tbody tr td a:visited,
#calendar_wrap table#wp-calendar tfoot tr td a,
#calendar_wrap table#wp-calendar tfoot tr td a:visited {
    color: #000;
    text-decoration: none;
}
.widget.widget_recent_entries ul li,
.widget.widget_categories ul li,
.widget.widget_nav_menu ul li,
.widget.widget_archive ul li ,
.widget.widget_meta ul li{
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
}
.widget.widget_categories ul li {
    text-align: right;
    padding: 8px 0;
    overflow:hidden;
}
.widget.widget_recent_entries ul li:last-child,
.widget.widget_categories ul li:last-child,
.widget.widget_nav_menu ul li:last-child,
.widget.widget_archive ul li:last-child ,
.widget.widget_meta ul li:last-child{
    border-bottom: 0;
}
.widget.widget_recent_entries ul li a,
.widget.widget_categories ul li a {
    color: #727272;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    outline: 0;
    width: auto;
    padding: 10px 0;
}
.widget.widget_categories ul li a {
    float: left;
    padding: 0px 0;
}
.widget.widget_recent_entries ul li a:hover,
.widget.widget_categories ul li a:hover {
    color: #e13a48;
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget_recent_comments ul li {
    width: 100%;
    padding: 10px 0;
    margin: 0 0 0 0;
    text-align: left;
    text-transform: capitalize;
    list-style-type: none;
    font-size: 14px;
    color: #727272;
}
.widget_recent_comments ul li a,
.widget_recent_comments ul li span a {
    color: #404040;
    display: block;
    text-decoration: none;
}
.widget_recent_comments ul li a:hover,
.widget_recent_comments ul li span a:hover {
    color: #e13a48;
}
.widget.widget_recent_entries h1,
.widget.widget_recent_comments h1 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
    font-style: normal;
    color: #272727;
}
.edit-link a,
.recentcomments,
.textwidget {
    font-size: 14px;
    text-align: left;
    color: #727272;
}
.recentcomments {
    line-height: 1.8;
}
.comment_author_date span,
.comment_author_date span a {
    font-size: 13px;
    color: #b9b9b9;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    text-decoration: none;
}
.comment_author_date span i {
    position: absolute;
    left: 0;
    top: 2px;
}
/*..............
sidebar pages
................*/
.single_post_content {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #333;
    padding-bottom: 10px;
}
.single_post_content a {
    color: #333;
}
.single_post_content a:hover {
    color: #e13a48;
}
.search-form .search-field {
    background: #fff;
    border-radius: 0;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-width: 1px;
    color: #161616;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: 40px;
    line-height: 39px;
    padding: 0 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.widget_recent_comments ul li {
    width: 100%;
    padding: 10px 0;
    margin: 0 0 0 0;
    text-align: left;
    text-transform: capitalize;
    list-style-type: none;
    font-size: 14px;
    color: #727272;
}
.widget_recent_comments ul li a,
.widget_recent_comments ul li span a {
    color: #404040;
    display: block;
    text-decoration: none;
}
.widget-title {
    padding-top: 0;
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
    font-style: normal;
    color: #272727;
    border-bottom: 0;
    text-transform: capitalize;
    font-weight: 400;
}
.widget_categories ul li {
    width: 100%;
    margin: 0 0 0 0;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
    text-transform: capitalize;
    padding: 0;
}
.widget_categories ul li:last-child {
    border-bottom: 0;
}
.widget .menu-header-menu-container {
    padding-top: 0;
}
.widget ul li a,
.widget_categories ul li a {
    color: #727272;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: none;
}
.widget ul li a:hover {
    color: #e13a48;
}
.entry-title a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.single_post_image {
    width: 100%;
}
.single_post_image img {
    display: block;
}
.entry-meta span a,
.entry-footer span a {
    color: #747474;
    text-decoration: none;
}
.entry-meta span a:hover,
.entry-footer span a:hover {
    color: #e13a48;
}
.single_page_content p {
    text-align: left;
    line-height: 1.5;
}
.search .page-title {
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    background: #f2f2f2;
}
.search .entry-summary {
    margin: 0;
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
    padding-top: 0px;
    display: block;
}
.search .entry-header h1 {
    padding-top: 10px;
    padding-bottom: 0;
}
/*...........
post 
............*/
.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 5px 0 5px 100px;
}
.comment-notes {
    display: block;
    padding: 0 0 10px;
}
#commentform label {
    position: absolute;
    top: 5px;
    left: 0;
    max-width: 100px;
}
#secondary #secondary {
    width: 100%;
}
form#commentform input[type="text"],
form#commentform input[type="email"],
form#commentform input[type="url"],
form#commentform textarea {
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: 0;
    line-height: 2;
    border: 1px solid #ddd;
    padding: 0 5px;
}
.form-submit {
    text-align: right;
}
.form-submit input[type="submit"] {
    border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    text-shadow: 0 0 0;
}
form textarea {
    height: 100px;
}
.form-submit input:hover {
    background: #701d24;
    text-shadow: 0 0 0;
}
.comments-area {
    background: #fff;
    padding: 0 10px;
    text-align: left;
}
.comments-area ol {
    padding: 0;
    list-style: none;
}
.comments-area li ol {
    padding-left: 10px;
}
.comments-area .comment-author {
    position: relative;
    padding-left: 60px;
    padding-bottom: 10px;
}
.comments-area .comment-author b {
    line-height: 1;
    display: block;
}
.comments-area p {
    margin: 0;
}
.comments-area .comment-author img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50px;
}
.comments-area a {
    color: #404040;
    font-size: 12px;
    display: block;
    text-decoration: none;
    text-decoration: none;
}
.comments-area a:hover {
    color: #e13a48;
}
.comment-list article {
    padding: 10px;
}
h2.comments-title,
h3.comment-reply-title {
    font-size: 22px;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 1px;
    color: #272727;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0px;
}
span.cat-links {
    display: none;
}
span.comments-link {
    display: none;
}
.comment-body {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
}
/*...........
archieve test
..............*/
.archive_main_title {
    display: block;
    text-align: left;
    font-size:26px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    text-transform:uppercase;
    line-height: 1.2;
}
.archive_main_title:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #ee4f50;
}
.home .widget-area,
.archive .widget-area {
    float: right;
    background: #fff;
    width: 25%;
    box-sizing: border-box;
    padding: 0 15px 15px;
}
.archive .widget-area .widget-title,
.home .widget-area .widget-title {
    padding-top: 0;
}
.nav-links {
    clear: both;
}
.entry-footer .edit-link {
    padding-top: 10px;
    display: block;
}

.pagination{
    margin-bottom: 40px;
}

.nav-links span,
.nav-links a {
    border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    text-shadow: 0 0 0;
    height: 41px;
}
.nav-links .nav-previous {
    text-align: left;
    padding: 0 10px;
}
.nav-links .nav-next {
    text-align: right;
    padding: 0 10px;
}
.nav-links .nav-previous a,
.nav-links .nav-next a {
    border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    text-shadow: 0 0 0;
    height: auto;
}
.nav-links .page-numbers.dots {
    border: 0;
}
.nav-links .page-numbers.dots:hover {
    background: transparent;
    border: 0;
    color: #e13a48;
}
.nav-links span:hover,
.nav-links span.current,
.nav-links a:hover,
.nav-links a.current {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.nav-links .page-numbers.dots:hover {
    background: #000;
    color: #fff;
}
.nav-links a.next,
.nav-links a.prev {
    width: 100px;
}
.entry-content {
    padding: 0 10px;
    margin: 0;
}
form#commentform {
    padding: 10px 0px 0;
    border-top: 2px solid #f7f7f7;
}
.archive .single_post_content {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #333;
}
.archive .single_post_content a {
    border-radius: 3px;
    box-shadow: 0 10px 110px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border: 2px solid #ee4f50;
    font-family: "Montserrat", sans-serif;
    line-height: 1.43;
    background: #ee4f50;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.archive .single_post_content a:hover {
    background: #e13a48;
    color: #fff;
    border-color: transparent;
}
/*404 page form*/
.error-404 {
    padding: 70px 0;
}
.error-404.not-found form {
    text-align: left;
    padding-top: 32px;
}
.error-404.not-found form input.search-field {
    border: 1px solid #e13a48;
    width: 200px;
    border-radius: 0;
    height: 30px;
    padding: 0;
    line-height: 1;
    padding-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
}
.error-404.not-found form input.search-submit {
    background: #e13a48;
    color: #fff;
    border: 1px solid #e13a48;
    box-shadow: 0 0 0 0;
    border-radius: 0;
    height: 30px;
    outline: 0;
}
.error-404 .page-header h1 {
    letter-spacing: 1px;
    border-bottom: 0;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 0;
}
.error-404 .page-header h1 span {
    font-size: 30px;
    display: inline-block;
    padding-left: 30px;
}
.page_desc_404 {
    font-style: italic;
    font-size: 16px;
    display: block;
}
/*social counter css start*/
.apsc-theme-5 .apsc-each-profile {
    display: inline-block;
    float: left;
}
.sidebar_one .widget_text {
    margin-bottom: 0px;
}
.apsc-theme-1 .apsc-each-profile {
    width: 75px;
}
#dp_swf_engine{
display: none;
}

/** Woocommerce Styles **/
body.woocommerce {
    text-align: left;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    color: #636363;
}


.woocommerce a.added_to_cart{
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.added_to_cart {
    border-radius: 0px;
    background: #e65c4d;
    color: #fff;
    border: 1px solid #e24736;
    margin-bottom: 15px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background: #e04a3a;
    color: #fff;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.woocommerce ul.products li.product h3:hover {
    color: #e65c4d;
}

.woocommerce .woocommerce-ordering select {
    padding: 5px;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
    background-color: #de5445;
}

.woocommerce .quantity .qty {
    padding: 5px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
    background-color: #e04a3a;
}

.woocommerce-info{
    border-color: #e04a3a;
}

.woocommerce-info::before {
    color: #e04a3a;
}