/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2015, 11:12:31 PM
    Author     : Bilal
*/

a,a:visited{
    color: #f1c40f;
}

a:hover,
a:focus,
.site-info a:hover{
    color: #f5d313;
}

ul.ecotheme-nav > li.menu-item.current-menu-item a,
ul.ecotheme-nav > li.menu-item.current-menu-parent a,
ul.ecotheme-nav > li.menu-item a:hover{
    
    border-bottom: 2px solid #f5d313;

}

ul.ecotheme-nav > li > ul li.current-menu-item > a{
    color: #f1c40f;
}

ul.ecotheme-nav ul li a:hover{
    color: #f5d313;
}

.ecotheme-button.primary,
button, 
input[type="button"], 
input[type="submit"],
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input[type="submit"] {
    background: #f1c40f;
    color: #fff;
}

.ecotheme-button.primary:hover,
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input[type="submit"]:hover {
    background: #f5d313;
}

.woocommerce .woocommerce-message{
    border-top-color: #f1c40f;
}

.woocommerce .woocommerce-message:before{
    color: #f1c40f;
}

.main-navigation .ecotheme-cart,
.ecotheme-mobile-cart .ecotheme-cart{
    background: #f1c40f !important;
    transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    top: -5px;
}

.main-navigation .ecotheme-cart:hover,
.ecotheme-mobile-cart .ecotheme-cart:hover{
    background: #f5d313 !important;
}

#ecotheme-featured,
.woocommerce span.onsale{
    background: #f1c40f;
    color: #fff;
}
#ecotheme-featured .fa{
    color: #fff;
}

#authica-social a:hover{
    color: #f5d313;
}

.scroll-top:hover{
    background: #f5d313;
}

#ecotheme-overlay-trigger{
    border-color: transparent transparent #f1c40f transparent;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #f1c40f;
}